/* body bg */
.d2l-page-bg > div, .d2l-page-main, .d2l-max-width, .d2l-min-width {
    background: #fff;
    min-height: 842px;
}

.d2l-tiles-container .d2l-page-bg > div, .d2l-tiles-container .d2l-page-main, .d2l-tiles-container .d2l-max-width, .d2l-tiles-container .d2l-min-width {
    background: #f6f7f8;
}

.d2l-page-bg {
    top: 0;
}

@media (min-width: 1001px) {
    .darklight-waterloo-side-logo {
        position: absolute;
        top: 140px;
        left: 0;
        width: 103px;
        height: 842px;
        z-index: -1;
        background: transparent url(../../img/waterloo_background.png) top left no-repeat;
    }
}

.d2l-page-main-padding {
    padding-bottom: 30px;
}

/* widget */
.daylight .d2l-widget {
    background: #fff;
    border-radius: 5px;
    margin: 20px auto;
    padding: 0;
}

.daylight .d2l-widget-header {
    background: #222;
    padding: 10px 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 10;
}

.daylight .d2l-homepage-header-menu-wrapper .d2l-contextmenu-ph {
    transform: translateY(1px);
}

.daylight .d2l-widget-header a {
    text-decoration-color: #fff !important;
}

.daylight .d2l-widget-header .d2l-heading {
    color: #fff !important;
    font-size: 1rem;
    line-height: 1.5rem;
}

.daylight .d2l-widget-header:after {
    content: '';
    display: table;
    clear: both;
}

.daylight .d2l-widget-header .d2l-heading.vui-heading-2 {
    font-size: 1rem;
    line-height: 1.5rem;
}

.daylight .d2l-widget-content {
    padding: 10px 25px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.d2l-tile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 3px 1px -2px rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.05);
}

.daylight-widget-demarcation .homepage-container div:last-of-type .d2l-tile.d2l-widget:last-child {
    padding-bottom: 5px;
}

/* navbar */
.d2l-navigation-s-mobile-menu-header {
    background: #111;
}

d2l-navigation-band {
    display: none !important;
}

.d2l-navigation-s-mobile-menu-header-course-menu span {
    color: #fff;
}

.d2l-navigation-s, .d2l-navigation-s-no-login {
    background: #111 !important;
}

d2l-navigation-main-header {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--darklight-nav-primary-color) !important;
}

d2l-navigation-main-footer {
    border: none !important;
    background: #333333 !important;
}

.d2l-navigation-s-main-wrapper {
    height: calc(1rem + 35px);
}

a.d2l-navigation-s-link, a.d2l-navigation-s-link:link, a.d2l-navigation-s-link:visited {
    color: #aaa !important;
}

.d2l-navigation-s-group .d2l-navigation-s-group-wrapper d2l-icon {
    color: #aaa !important;
}

.d2l-navigation-s-item .d2l-navigation-s-group-text,
.d2l-navigation-s-item d2l-icon {
    color: #aaa !important;
}

.d2l-navigation-s-personal-menu d2l-dropdown d2l-icon {
    color: #aaa;
}

.d2l-navigation-s-mobile-menu .d2l-navigation-s-title-container .d2l-navigation-s-link {
    color: #000 !important;
}

/* homepage */
.homepage-container .d2l-htmlblock .results {
    padding: 10px 15px !important;
}

.homepage-container .d2l-htmlblock .results .btn {
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.2em;
}

.homepage-container .d2l-htmlblock .results a {
    font-size: 0.8rem !important;
}

@media screen and (min-width: 768px) {

    .homepage-container > div:not(.homepage-row):not(:last-child), .homepage-row > div:not(:last-child), .homepage-row > div > div:not(:last-child) {
        margin-right: 2.15464%
    }

    .homepage-col-1 {
        width: 5.10825%
    }

    .homepage-col-2 {
        width: 13.87113%
    }

    .homepage-col-3 {
        width: 22.63402%
    }

    .homepage-col-4 {
        width: 31.39691%
    }

    .homepage-col-5 {
        width: 40.15979%
    }

    .homepage-col-6 {
        width: 48.92268%
    }

    .homepage-col-7 {
        width: 57.68557%
    }

    .homepage-col-8 {
        width: 66.44845%
    }

    .homepage-col-9 {
        width: 75.21134%
    }

    .homepage-col-10 {
        width: 83.97423%
    }

    .homepage-col-11 {
        width: 92.73711%
    }

    .homepage-col-12 {
        width: 100%
    }
}

/* button */

.d2l-button, .d2l-button * {
    vertical-align: bottom !important;
}

.dcm.bsi-button-menu {
    vertical-align: bottom !important;
}

/* course banner */

.d2l-course-banner-container {
    margin: 0;
    max-width: none;
}

/* course content */

.d2l-twopanelselector-side-bg.d2l-twopanelselector-side-sep, .d2l-twopanelselector-side.d2l-twopanelselector-side-sep {
    background: #f9fafb;
}

.d2l-collapsepane-header {
    padding-bottom: 0.6rem !important;
}

.d2l-collapsepane-content {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.d2l-collapsepane-content > div.d2l-placeholder.d2l-placeholder-live > div.d2l-placeholder.d2l-placeholder-live > div {
    padding-top: 0;
}

.d2l-page-collapsepane-container {
    padding-top: 45px;
}

.daylight .d2l-page-collapsepane-shadow {
    top: 90px;
}

.daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor::before, .daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:link::before, .daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:visited::before, .daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:hover::before, .daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:focus::before {
    background: #e6eaf0;
}

/* Back to top button*/

.darklight-back-to-top {
    background: rgba(80, 80, 80, 0.4);
}

.darklight-back-to-top:hover {
    background: rgba(80, 80, 80, 0.6);
    box-shadow: 0 0 10px rgba(150, 150, 150, 0.2);
}

.darklight-back-to-top .arrow {
    border-color: rgba(200, 200, 200, 0.4);
}

.darklight-back-to-top:hover .arrow {
    border-color: rgba(200, 200, 200, 0.8);
}

@media (max-width: 1350px) {
    .darklight-back-to-top {
        background: rgba(0, 0, 0, 0.3);
    }

    .darklight-back-to-top:hover {
        background: rgba(0, 0, 0, 0.6);
    }

    .darklight-back-to-top .arrow {
        border-color: rgba(255, 255, 255, 0.8);
    }

    .darklight-back-to-top:hover .arrow {
        border-color: rgba(255, 255, 255, 0.9);
    }
}

/* file link */
.d2l-filelink-link {
    white-space: normal;
}

/* course selector */
.d2l-courseselector-wrapper .d2l-datalist-item {
    border: none;
}

/* fix right buttons */
.darklight-fixed-right-button {
    background: #222;
    color: #999 !important;
}

.darklight-fixed-right-button:hover {
    background: #333;
}

.darklight-fixed-right-button-icon > img {
    opacity: 0.3;
}

.d2l-shim {
    background: #000;
}

.d2l-navigation-s-mobile-menu-mask {
    background: #000;
}

/* popup page */
.d2l-popup-page {
    background: #fff;
}

/* fullwidth */
.darklight-fullwidth .darklight-back-to-top {
    background: rgba(0, 0, 0, 0.3) !important
}

.darklight-fullwidth .darklight-back-to-top:hover {
    background: rgba(0, 0, 0, 0.6) !important
}

.darklight-fullwidth .darklight-back-to-top .arrow {
    border-color: rgba(255, 255, 255, 0.8) !important
}

.darklight-fullwidth .darklight-back-to-top:hover .arrow {
    border-color: rgba(255, 255, 255, 0.9) !important
}