/* body bg */

#d2l_body, .d2l-body {
    background: #111;
}

.d2l-page-bg > div, .d2l-page-main, .d2l-max-width, .d2l-min-width {
    background: #fff;
    min-height: 842px;
}

.d2l-tiles-container .d2l-page-bg > div, .d2l-tiles-container .d2l-page-main, .d2l-tiles-container .d2l-max-width, .d2l-tiles-container .d2l-min-width {
    background: #f6f7f8;
}

.d2l-page-bg {
    top: 0;
}

.d2l-page-main .darklight-waterloo {
    position: absolute;
    top: 140px;
    left: 0;
    width: 103px;
    height: 842px;
    z-index: -1;
    background: transparent top left no-repeat;
}

.d2l-page-main-padding {
    padding-bottom: 30px;
}

/* widget */

.daylight .d2l-widget {
    background: #fff;
    /*border: 1px solid #ddd !important;*/
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 0;
}

.daylight-widget-demarcation .d2l-widget {
    margin-top: 20px;
}

.daylight .d2l-widget-header {
    background: #111;
    padding: 10px 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.daylight .d2l-homepage-header-menu-wrapper .d2l-contextmenu-ph {
    margin-top: 2px;
    margin-bottom: -2px;
    margin-left: 6px;
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}

.daylight .d2l-homepage-header-menu-wrapper .d2l-contextmenu-ph:focus,
.daylight .d2l-homepage-header-menu-wrapper .d2l-contextmenu-ph:hover,
.daylight .d2l-homepage-header-menu-wrapper .d2l-contextmenu-ph-focus,
.daylight .d2l-homepage-header-menu-wrapper .d2l-contextmenu-ph-hover {
    border-color: rgba(255, 255, 255, 0.5);
    -webkit-filter: grayscale(100%) brightness(200%);
    filter: grayscale(100%) brightness(200%);
}

.d2l-contextmenu-ph:focus, .d2l-contextmenu-ph:hover, .dcm.dcm_handle.bsi-button-menu:focus, .dcm.dcm_handle.bsi-button-menu:hover,
.d2l-contextmenu-ph.d2l-contextmenu-opener-open, .dcm.dcm_handle.d2l-contextmenu-opener-open {
    /*border-color: rgba(255, 255, 255, 0.5);*/
    /*-webkit-filter: grayscale(100%) brightness(200%);*/
    /*filter: grayscale(100%) brightness(200%);*/
}

.d2l-widget-header d2l-dropdown button.d2l-button-icon {
    width: 25px !important;
    min-width: 25px !important;
    height: 25px !important;
    min-height: 25px !important;
    margin-top: 1px !important;
    margin-bottom: -1px !important;
    margin-left: 2px !important;
    padding: 0 !important;
}

.d2l-widget-header d2l-dropdown button.d2l-button-icon:hover,
.d2l-widget-header d2l-dropdown button.d2l-button-icon:focus {
    border: 1px solid #999 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.d2l-widget-header d2l-dropdown button.d2l-button-icon:hover,
.d2l-widget-header d2l-dropdown button.d2l-button-icon:focus,
.d2l-widget-header d2l-dropdown button.d2l-button-icon,
.d2l-widget-header d2l-dropdown-header .d2l-button-icon-hover button.d2l-button-icon,
.d2l-widget-header d2l-dropdown .d2l-button-icon-focus button.d2l-button-icon {
    background: none !important;
}

.daylight .d2l-widget-header a {
    text-decoration-color: #fff !important;
}

.daylight .d2l-widget-header .d2l-heading {
    color: #fff !important;
    font-size: 1rem;
    line-height: 1.5rem;
}

.daylight .d2l-widget-header:after {
    content: '';
    display: table;
    clear: both;
}

.daylight .d2l-widget-header .d2l-heading.vui-heading-2 {
    font-size: 1rem;
    line-height: 1.5rem;
}

.daylight .d2l-widget-content {
    padding: 10px 25px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.d2l-htmlblock ol, .d2l-htmlblock ul {
    padding-left: 1em;
}

.d2l-tile {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 3px 1px -2px rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 3px 1px -2px rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 3px 1px -2px rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.05);

}

.daylight-widget-demarcation .homepage-container div:last-of-type .d2l-tile.d2l-widget:last-child {
    padding-bottom: 5px;
}

/* navbar */

.d2l-navigation-s-logo img {
    max-height: 40px;
}

.d2l-navigation-s-mobile-menu-content {
    border-top: none !important;
}

.d2l-navigation-s-mobile-menu-header {
    background: #000;
}

.d2l-navigation-s-mobile-menu-header-course-menu span {
    color: #fff;
}

.d2l-navigation-s, .d2l-navigation-s-no-login {
    background: #111;
}

.d2l-navigation-s-shadow-gradient, .d2l-navigation-shadow-gradient {
    background: none !important;
}

.d2l-navigation-s-header, d2l-navigation-header, d2l-navigation-main-header {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.d2l-navigation-s-main-wrapper {
    height: calc(1rem + 35px);
}

.d2l-navigation-s-main, d2l-navigation-bottom-bar, d2l-navigation-main-footer {
    border: none !important;
    background: #333333 !important;
}

a.d2l-navigation-s-link, a.d2l-navigation-s-link:link, a.d2l-navigation-s-link:visited {
    color: #999 !important;
}

.d2l-navigation-s-item .d2l-navigation-s-group-text,
.d2l-navigation-s-item .d2l-icon-0 {
    color: #999 !important;
}

d2l-navigation-separator d2l-icon.d2l-navigation-separator {
    color: #666 !important;
}

.d2l-icon-0 {
    color: #999
}

d2l-navigation-main-header d2l-icon.d2l-navigation-button-icon {
    width: 1.5rem !important;
    height: 1.5rem !important;
}

.d2l-navigation-s-divider d2l-icon {
    color: #444
}

.d2l-navigation-s-button-highlight {
    color: #999;
}

/*.d2l-navigation-s-button-highlight:focus d2l-icon, .d2l-navigation-s-button-highlight:hover d2l-icon, button.d2l-navigation-s-button-highlight:focus, button.d2l-navigation-s-button-highlight:hover {*/
/*color: #FDD54F;*/
/*}*/

button.d2l-navigation-s-button-highlight[data-active], button.d2l-navigation-s-button-highlight[data-active] d2l-icon {
    color: #FDD54F;
}

.d2l-navigation-button {
    color: #999 !important;
}

/*.d2l-navigation-button:hover,*/
/*.d2l-navigation-button:focus,*/
/*.d2l-navigation-button:hover > *,*/
/*.d2l-navigation-button:focus > *,*/
/*.d2l-navigation-button:hover > * *,*/
/*.d2l-navigation-button:focus > * * {*/
/*color: #FDD54F !important;*/
/*}*/

/*.d2l-navigation-s-highlight-bar {*/
/*background-color: #FDD54F;*/
/*}*/

.d2l-navigation-s-button-highlight[data-active] .d2l-navigation-s-highlight-bar {
    background-color: #FDD54F;
}

/*.d2l-navigation-link:hover .d2l-navigation-link-top-border.d2l-navigation-link,*/
/*.d2l-navigation-link:focus .d2l-navigation-link-top-border.d2l-navigation-link {*/
/*background: #FDD54F !important;*/
/*}*/

/*.d2l-navigation-button:hover .d2l-navigation-button-top-border.d2l-navigation-button,*/
/*.d2l-navigation-button:focus .d2l-navigation-button-top-border.d2l-navigation-button {*/
/*background: #FDD54F !important;*/
/*}*/

.d2l-navigation-s-band-color, d2l-navigation-band {
    display: none !important;
}

.d2l-navigation-s-no-branding .d2l-navigation-s-main {
    border: none;
}

.d2l-navigation-s-has-branding .d2l-navigation-s-main {
    border: none;
}

d2l-navigation-button .d2l-navigation-button-notification-indicator.d2l-navigation-button-notification-icon {
    top: calc(-50% + 4px) !important;
}

d2l-navigation-button .d2l-navigation-button-notification-indicator-icon.d2l-navigation-button-notification-icon {
    width: 8px !important;
    height: 8px !important;
}

.d2l-navigation-shadow-drop-border.d2l-navigation {
    display: none;
}

.d2l-navigation-s-has-branding .d2l-navigation-main-ib {
    border: none !important;
    z-index: 100 !important;
}

.d2l-navigation-ib-item-link-text {
    color: #fff;
}

.d2l-dialog .d2l-navigation-ib-item-link-text,
.d2l-navigation-s-mobile-menu .d2l-navigation-ib-item-link-text {
    color: #565a5c;
}

.d2l-navigation-ib-item-link:focus, .d2l-navigation-ib-item-link:hover {
    border-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.d2l-navigation-ib-item-link:hover .d2l-navigation-ib-item-link-text {
    color: #fff;
    text-decoration: none !important;
}

.d2l-dialog .d2l-navigation-ib-item-link:hover .d2l-navigation-ib-item-link-text,
.d2l-navigation-s-mobile-menu .d2l-navigation-ib-item-link:hover .d2l-navigation-ib-item-link-text {
    color: #565a5c;
    text-decoration: none !important;
}

.d2l-navigation-s-linkarea-no-color .d2l-navigation-main-ib-pully[shown]:focus, .d2l-navigation-s-linkarea-no-color .d2l-navigation-main-ib-pully[shown]:focus .d2l-navigation-main-ib-pully-icon, .d2l-navigation-s-linkarea-no-color .d2l-navigation-main-ib-pully[shown]:hover, .d2l-navigation-s-linkarea-no-color .d2l-navigation-main-ib-pully[shown]:hover .d2l-navigation-main-ib-pully-icon, .d2l-navigation-s-no-branding .d2l-navigation-main-ib-pully[shown]:focus, .d2l-navigation-s-no-branding .d2l-navigation-main-ib-pully[shown]:focus .d2l-navigation-main-ib-pully-icon, .d2l-navigation-s-no-branding .d2l-navigation-main-ib-pully[shown]:hover, .d2l-navigation-s-no-branding .d2l-navigation-main-ib-pully[shown]:hover .d2l-navigation-main-ib-pully-icon {
    background-color: #FFFFFF;
}

.d2l-navigation-s-has-branding.d2l-branding-navigation-dark-foreground-color .d2l-navigation-main-ib-pully[shown]:focus .d2l-navigation-main-ib-pully-tab-button {
    display: none;
}

.d2l-navigation-main-ib-pully-container .d2l-branding-navigation-background-color {
    background: none !important;
    border: none !important;
}

.d2l-navigation-main-ib-pully-tab {
    background: #333333 !important;
}

.d2l-navigation-main-ib-pully-icon {
    border: none !important;
}

.d2l-navigation-main-ib-pully-icon d2l-icon svg {
    -webkit-filter: grayscale(1) brightness(5);
    filter: grayscale(1) brightness(5);
}

/* homepage */
.homepage-container .d2l-htmlblock .results {
    padding: 10px 15px !important;
}

.homepage-container .d2l-htmlblock .results .btn {
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.2em;
}

.homepage-container .d2l-htmlblock .results a {
    font-size: 0.8rem !important;
}

@media screen and (min-width: 768px) {

    .homepage-container > div:not(.homepage-row):not(:last-child), .homepage-row > div:not(:last-child), .homepage-row > div > div:not(:last-child) {
        margin-right: 2.15464%
    }

    .homepage-col-1 {
        width: 5.10825%
    }

    .homepage-col-2 {
        width: 13.87113%
    }

    .homepage-col-3 {
        width: 22.63402%
    }

    .homepage-col-4 {
        width: 31.39691%
    }

    .homepage-col-5 {
        width: 40.15979%
    }

    .homepage-col-6 {
        width: 48.92268%
    }

    .homepage-col-7 {
        width: 57.68557%
    }

    .homepage-col-8 {
        width: 66.44845%
    }

    .homepage-col-9 {
        width: 75.21134%
    }

    .homepage-col-10 {
        width: 83.97423%
    }

    .homepage-col-11 {
        width: 92.73711%
    }

    .homepage-col-12 {
        width: 100%
    }
}

/* button */

.d2l-button, .d2l-button * {
    vertical-align: bottom !important;
}

.dcm.bsi-button-menu {
    vertical-align: bottom !important;
}

/* course banner */

.d2l-course-banner-container {
    margin: 0;
    max-width: none;
}

/* course content */

.d2l-twopanelselector-side-bg.d2l-twopanelselector-side-sep, .d2l-twopanelselector-side.d2l-twopanelselector-side-sep {
    background: #f9fafb;
}

.d2l-collapsepane-header {
    padding-bottom: 0.6rem !important;
}

.d2l-collapsepane-content {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.d2l-collapsepane-content > div.d2l-placeholder.d2l-placeholder-live > div.d2l-placeholder.d2l-placeholder-live > div {
    padding-top: 0;
}

.d2l-page-collapsepane-container {
    padding-top: 45px;
}

.daylight .d2l-page-collapsepane-shadow {
    top: 90px;
}

.daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor::before, .daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:link::before, .daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:visited::before, .daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:hover::before, .daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:focus::before {
    background: #e6eaf0;
}

/* Back to top button*/

.darklight-back-to-top {
    background: rgba(80, 80, 80, 0.4);
}

.darklight-back-to-top:hover {
    background: rgba(80, 80, 80, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(150, 150, 150, 0.2);
    -moz-box-shadow: 0 0 10px rgba(150, 150, 150, 0.2);
    box-shadow: 0 0 10px rgba(150, 150, 150, 0.2);
}

.darklight-back-to-top .arrow {
    border-color: rgba(200, 200, 200, 0.4);
}

.darklight-back-to-top:hover .arrow {
    border-color: rgba(200, 200, 200, 0.8);
}

@media (max-width: 1350px) {
    .darklight-back-to-top {
        background: rgba(0, 0, 0, 0.3);
    }

    .darklight-back-to-top:hover {
        background: rgba(0, 0, 0, 0.6);
    }

    .darklight-back-to-top .arrow {
        border-color: rgba(255, 255, 255, 0.8);
    }

    .darklight-back-to-top:hover .arrow {
        border-color: rgba(255, 255, 255, 0.9);
    }
}

/* file link */
.d2l-filelink-link {
    white-space: normal;
}

/* course selector */
.d2l-courseselector-wrapper .d2l-datalist-item {
    border: none;
}

/* fix right buttons */
.darklight-fixed-right-button {
    background: #222;
    color: #999 !important;
}

.darklight-fixed-right-button:hover {
    background: #333;
}

.darklight-fixed-right-button-icon > img {
    opacity: 0.3;
}

/* new homepage course tabs */
.d2l-home .d2l-tabs-scroll-button.d2l-tabs {
    height: 100%;
    transform: translateY(0px);
}

.d2l-home .d2l-tabs-scroll-button.d2l-tabs:hover, .d2l-home .d2l-tabs-scroll-button.d2l-tabs:focus {
    background: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.d2l-home d2l-tab[aria-selected]:focus .d2l-tab-selected-indicator.d2l-tab {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.d2l-shim {
    background: #000;
}

.d2l-navigation-s-mobile-menu-mask {
    background: #000;
}

/* popup page */
.d2l-popup-page {
    background: #fff;
}
