d2l-navigation-band,
.d2l-navigation-shadow-drop-border,
.d2l-navigation-shadow-gradient {
    display: none !important;
}

.d2l-navigation-link-image-container img {
    max-height: 40px;
}


div.d2l-navigation-centerer > div.d2l-navigation-gutters > div.d2l-navigation-header-container {
    height: 110px;
}

@media (max-width: 767px) {
    div.d2l-navigation-centerer > div.d2l-navigation-gutters > div.d2l-navigation-header-container {
        height: 72px;
    }
}

:host([icon*="d2l-tier2:"]) {
    color: rgba(255, 255, 255, 0.6) !important;
}

:host([icon*="d2l-tier3:"]) {
    color: rgba(255, 255, 255, 0.6) !important;
    width: 1.5rem !important;
}

:host button {
    color: rgba(255, 255, 255, 0.6);
}

:host button:hover, :host button:focus, :host button:hover ::slotted(*), :host button:focus ::slotted(*) {
    color: #fff !important;
    --d2l-icon-fill-color: #fff;
}

a:hover .d2l-navigation-link-top-border, a:focus .d2l-navigation-link-top-border {
    background: #fff;
}

:host button:hover .d2l-navigation-button-top-border, :host button:focus .d2l-navigation-button-top-border {
    background: #fff;
}

.d2l-navigation-button-notification-indicator-icon {
    width: 8px !important;
    height: 8px !important;
}