/* arrows */
i.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

i.arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

i.arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

i.arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

i.arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* block page */
.darklight-block-page {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    cursor: wait;
    display: table;
}

.darklight-block-page-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.darklight-block-page-loader {
    margin: auto;
    border: 6px solid #999;
    border-radius: 50%;
    border-top: 6px solid #ccc;
    width: 40px;
    height: 40px;
    -webkit-animation: loader-spin 2s linear infinite;
    animation: loader-spin 2s linear infinite;
}

.darklight-block-page-message {
    font-size: 14px;
    margin: 16px 0;
    color: #fff;
    text-align: center;
}

@-webkit-keyframes loader-spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Back to top button*/
.darklight-back-to-top {
    background: rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    position: fixed;
    right: 30px;
    bottom: 60px;
    text-align: center;
    cursor: pointer;
    z-index: 200;
    opacity: 1;
    border-radius: 5px;
    visibility: visible;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.darklight-back-to-top .arrow {
    border-color: rgba(255, 255, 255, 0.8);
    padding: 8px;
    margin-top: 20px;
    -webkit-transition: border 0.2s ease;
    -moz-transition: border 0.2s ease;
    -ms-transition: border 0.2s ease;
    -o-transition: border 0.2s ease;
    transition: border 0.2s ease;
}

.darklight-back-to-top:hover {
    background: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.darklight-back-to-top-hidden {
    opacity: 0;
    visibility: hidden;
}

.darklight-navbar-back-to-top {
    width: 100%;
    height: 100%;
    display: table;
    margin-right: auto;
    text-align: right;
    opacity: 0.5;
    visibility: visible;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.darklight-navbar-back-to-top a {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    text-decoration: none !important;
}

.darklight-navbar-back-to-top .arrow {
    border-color: #999;
    padding: 4px;
    margin-top: 10px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    -webkit-transition: border 0.2s ease;
    -moz-transition: border 0.2s ease;
    -ms-transition: border 0.2s ease;
    -o-transition: border 0.2s ease;
    transition: border 0.2s ease;
}

.darklight-navbar-back-to-top:hover {
    opacity: 1;
}

.darklight-navbar-back-to-top-hidden {
    opacity: 0;
    visibility: hidden;
}

@media (max-width: 767px) {
    .darklight-back-to-top,
    .darklight-navbar-back-to-top {
        display: none;
    }
}

/* navbar fixed */
.darklight-navbar-fixed {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 500;
}

/* fix right buttons */
.darklight-fixed-right-wrapper {
    position: fixed;
    top: 25%;
    left: auto;
    right: -120px;
    bottom: auto;
    width: 160px;
    height: auto;
    overflow: visible;
    z-index: 100;
}

.darklight-fixed-right-button {
    background: #111;
    color: #999 !important;
    width: 160px;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.darklight-fixed-right-button:hover {
    background: #333;
    margin-left: -120px;
}

.darklight-fixed-right-button-icon {
    display: inline-block;
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}

.darklight-fixed-right-button-icon > img {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    opacity: 0.5;
}

.darklight-fixed-right-button-text {
    display: inline-block;
    float: left;
    width: 120px;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
}

/* homepage calendar */
.darklight-homepage-calendar {
    padding: 0 !important;
}

.darklight-homepage-calendar-empty {
    padding: 25px !important;
}

.darklight-homepage-calendar-loading {
    margin: 0;
    padding: 25px 25px;
    text-align: center;
}

.darklight-homepage-calendar-item {
    display: block;
    width: 100%;
    height: auto;
    text-decoration: none !important;
    margin: 0;
    padding: 20px 25px;
    border-bottom: 1px dotted #DADBD3;
    overflow: hidden;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.darklight-homepage-calendar-item:last-child {
    border-bottom: none;
}

.darklight-homepage-calendar-item:after {
    content: '';
    display: table;
    clear: both;
}

.darklight-homepage-calendar-item:hover {
    background: #e8f2f9;
}

.darklight-homepage-calendar-date {
    float: left;
    width: 40px;
    height: auto;
    text-align: center;
    font-size: 12px;
    color: #565A5C;
}

.darklight-homepage-calendar-date .month {
    display: block;
    border-bottom: 1px solid #DADBD3;
}

.darklight-homepage-calendar-date .day {
    display: block;
}

.darklight-homepage-calendar-content {
    margin-left: 55px;
}

.darklight-homepage-calendar-content .tag {
    float: right;
    padding: 2px;
    border: 1px solid #ff3c6a;
    border-radius: 3px;
    color: #ff3c6a;
    font-size: 10px;
    line-height: 1em;
}

.darklight-homepage-calendar-content .time {
    font-weight: bold;
    display: inline-block;
    color: #565a5c;
    font-size: 12px;
}

.darklight-homepage-calendar-content .course {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    color: #aaa;
}

.darklight-homepage-calendar-content .content {
    display: block;
}

.darklight-homepage-calendar .darklight-block-page-loader {
    width: 55px;
    height: 55px;
    border: 5px solid #e6eaf0;
    border-top-color: #006fbf;
    margin: 10px auto 20px;
    background: #fff;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-box-shadow: 0 0 0 10px #fff, 0 0 0 11px #f4f4fc, 0 0 15px 10px #e6eaf0;
    -moz-box-shadow: 0 0 0 10px #fff, 0 0 0 11px #f4f4fc, 0 0 15px 10px #e6eaf0;
    box-shadow: 0 0 0 10px #fff, 0 0 0 11px #f4f4fc, 0 0 25px 10px rgba(150, 150, 190, 0.2);
}

/* course tiles */
.d2l-homepage d2l-card {
    -webkit-transition: transform 0.3s ease, box-shadow 0.3s ease;
    -moz-transition: transform 0.3s ease, box-shadow 0.3s ease;
    -ms-transition: transform 0.3s ease, box-shadow 0.3s ease;
    -o-transition: transform 0.3s ease, box-shadow 0.3s ease;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.d2l-homepage d2l-card .d2l-card-content {
    padding-bottom: 1.0rem !important;
}

.d2l-enrollment-card-image-container {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.d2l-enrollment-card-image-container.shown {
    opacity: 1;
}

d2l-all-courses-unified-content .d2l-enrollment-card-image-container {
    opacity: 1;
}

.darklight-course-thumb {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

d2l-card.d2l-enrollment-card {
    background: rgba(0, 0, 0, 0.02);
}

d2l-card.d2l-enrollment-card .d2l-card-content {
    background: #fff;
}

.d2l-homepage d2l-card .d2l-card-footer {
    display: none !important;
}

/* navbar */
.d2l-navigation-s-item *:focus {
    outline: none;
}