
body, strong, p, a, h1, h2, h3, h4, h5, h6, input, button, select {
    font-family: 'Arial', sans-serif !important;
}

body {
    margin: 0;
    padding: 0;
    background: #f6f6f6;
    text-align: center;
    width: 200px;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
}

.darklight-icon {
    width: 64px;
    height: 64px;
    margin: 15px auto 0;
    background: url('../icon/icon128.png') no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}

.title {
    margin: 12px auto 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}

.subtitle {
    margin: 4px auto 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    color: #999;
    text-transform: uppercase;
}

.darklight-option-container {
    margin: 15px 0 0;
    padding: 0;
    background: #eee;
}

.darklight-option-group {
    position: relative;
    display: inline-block;
    width: 100%;
}

.darklight-option-hr {
    height: 1px;
    border: none;
    border-top: 1px dashed #ccc;
    background: none;
    margin: 0;
}

.darklight-option-group p.darklight-option-label {
    float: left;
    margin: 14px auto 11px 20px;
    font-size: 14px;
    color: #333;
}

.darklight-option-group p.darklight-option-link {
    display: block;
    width: 100%;
    margin: 0;
    text-align: left;
    font-size: 14px;
    color: #333;
    padding-left: 20px;
    line-height: 40px;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.darklight-option-group p.darklight-option-link:hover,
.darklight-option-group p.darklight-option-link:active,
.darklight-option-group p.darklight-option-link:visited {
    background: #ddd;
    color: #000;
}

.darklight-option-slide {
    float: right;
    width: 50px;
    height: 24px;
    margin: 10px 20px 0;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 50px;
}

.darklight-option-slide:after {
    content: "";
    float: right;
    position: absolute;
    background: #ccc;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 0;
    -webkit-border-radius: 0 50px 50px 0;
    -moz-border-radius: 0 50px 50px 0;
    border-radius: 0 50px 50px 0;
}

.darklight-option-slide:before {
    content: "";
    float: right;
    position: absolute;
    background: #5bb75b;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 0;
    z-index: 0;
    -webkit-border-radius: 50px 0 0 50px;
    -moz-border-radius: 50px 0 0 50px;
    border-radius: 50px 0 0 50px;
}

.darklight-option-slide label {
    display: block;
    width: 35px;
    height: 22px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(220, 220, 220, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(220, 220, 220, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(220, 220, 220, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
    border-radius: 50px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.darklight-option-slide input[type=checkbox] {
    visibility: hidden;
}

.darklight-option-slide input[type=checkbox]:checked + label {
    left: 13px;
}

.copyright {
    margin-top: 30px;
    color: #ccc;
    font-size: 14px;
}

.darklight-toast {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    background: rgba(91, 183, 91, 0.9);
    -webkit-box-shadow: 0 0 10px rgba(91, 183, 91, 0.5);
    -moz-box-shadow: 0 0 10px rgba(91, 183, 91, 0.5);
    box-shadow: 0 0 10px rgba(91, 183, 91, 0.5);
    z-index: 100;

    -webkit-transition: top 0.2s linear;
    -moz-transition: top 0.2s linear;
    -ms-transition: top 0.2s linear;
    -o-transition: top 0.2s linear;
    transition: top 0.2s linear;
}

.darklight-toast-hidden {
    top: -70px;
}