.d2l-tabs-layout .d2l-tabs-scroll-button {
    height: 100%;
    transform: translateY(0px);
}

.d2l-tabs-layout .d2l-tabs-scroll-button:hover, .d2l-tabs-layout .d2l-tabs-scroll-button:focus {
    background: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}