/* loader overlay */
.darklight-load-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    opacity: 1;
    transition: opacity 0.3s;
}

.darklight-load-overlay > div {
    display: block;
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    margin: auto;
    font: 16px Arial, sans-serif !important;
    text-align: center;
    opacity: 0;
    animation: darklight-overlay-text 1s forwards 5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.darklight-load-overlay > div > p {
    line-height: 1.5;
}

@keyframes darklight-overlay-text {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.darklight-load-overlay-hide {
    opacity: 0;
    pointer-events: none;
}
