/* common */
.hidden {
    display: none !important;
}

/* arrows */
i.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

i.arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

i.arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

i.arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

i.arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* block page */
.darklight-block-page {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    cursor: wait;
    display: table;
}

.darklight-block-page-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.darklight-block-page-loader {
    margin: auto;
    border: 6px solid #999;
    border-radius: 50%;
    border-top: 6px solid #ccc;
    width: 40px;
    height: 40px;
    -webkit-animation: loader-spin 2s linear infinite;
    animation: loader-spin 2s linear infinite;
}

.darklight-block-page-message {
    font-size: 14px;
    margin: 16px 0;
    color: #fff;
    text-align: center;
}

@-webkit-keyframes loader-spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Back to top button*/
.darklight-back-to-top {
    background: rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    position: fixed;
    right: 30px;
    bottom: 60px;
    text-align: center;
    cursor: pointer;
    z-index: 200;
    opacity: 1;
    border-radius: 5px;
    visibility: visible;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.darklight-back-to-top .arrow {
    border-color: rgba(255, 255, 255, 0.8);
    padding: 8px;
    margin-top: 20px;
    -webkit-transition: border 0.2s ease;
    -moz-transition: border 0.2s ease;
    -ms-transition: border 0.2s ease;
    -o-transition: border 0.2s ease;
    transition: border 0.2s ease;
}

.darklight-back-to-top:hover {
    background: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.darklight-back-to-top-hidden {
    opacity: 0;
    visibility: hidden;
}

.darklight-navbar-back-to-top {
    width: 100%;
    height: 100%;
    display: block;
    float: none;
    text-align: right;
    opacity: 0.5;
    visibility: visible;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.darklight-navbar-back-to-top a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none !important;
}

.darklight-navbar-back-to-top .arrow {
    position: absolute;
    border-color: #999;
    padding: 4px;
    top: calc(50% - 2px);
    right: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    -webkit-transition: border 0.2s ease;
    -moz-transition: border 0.2s ease;
    -ms-transition: border 0.2s ease;
    -o-transition: border 0.2s ease;
    transition: border 0.2s ease;
}

.darklight-navbar-back-to-top:hover {
    opacity: 1;
}

.darklight-navbar-back-to-top-hidden {
    opacity: 0;
    visibility: hidden;
}

@media (max-width: 767px) {
    .darklight-back-to-top,
    .darklight-navbar-back-to-top {
        display: none;
    }
}

/* navbar fixed */
.darklight-navbar-fixed {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 500;
    border-top: none !important;
}

body > header.darklight-navbar-sticky {
    position: -webkit-sticky;
    position: sticky;
    z-index: 500;
}

/* fix right buttons */
.darklight-fixed-right-wrapper {
    position: fixed;
    top: 25%;
    left: auto;
    right: -120px;
    bottom: auto;
    width: 160px;
    height: auto;
    overflow: visible;
    z-index: 100;
}

.darklight-fixed-right-button {
    background: #111;
    color: #999 !important;
    width: 160px;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.darklight-fixed-right-button:hover {
    background: #333;
    margin-left: -120px;
}

.darklight-fixed-right-button-icon {
    display: inline-block;
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}

.darklight-fixed-right-button-icon > img {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    opacity: 0.5;
}

.darklight-fixed-right-button-text {
    display: inline-block;
    float: left;
    width: 120px;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
}

/* homepage calendar */
.darklight-homepage-calendar {
    padding: 0 !important;
}

.darklight-homepage-calendar-empty {
    padding: 25px !important;
}

.darklight-homepage-calendar-loading {
    margin: 0;
    padding: 25px 25px;
    text-align: center;
}

.darklight-homepage-calendar-item {
    display: block;
    width: 100%;
    height: auto;
    text-decoration: none !important;
    margin: 0;
    padding: 20px 25px;
    border-bottom: 1px dotted #DADBD3;
    overflow: hidden;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.darklight-homepage-calendar-item:last-child {
    border-bottom: none;
}

.darklight-homepage-calendar-item:after {
    content: '';
    display: table;
    clear: both;
}

.darklight-homepage-calendar-item:hover {
    background: #e8f2f9;
}

.darklight-homepage-calendar-date {
    float: left;
    width: 2.5rem;
    height: auto;
    text-align: center;
    color: #565A5C;
    margin-right: 5px;
    position: relative;
}

.darklight-homepage-calendar-date .month {
    display: block;
    font-size: 0.8rem;
}

.darklight-homepage-calendar-date .day {
    display: block;
    font-size: 0.95rem;
    border-top: 1px solid #DADBD3;
}

.darklight-homepage-calendar-date.darklight-homepage-calendar-date-ani .month {
    -webkit-transition: transform 0.3s, opacity 0.3s;
    -moz-transition: transform 0.3s, opacity 0.3s;
    -ms-transition: transform 0.3s, opacity 0.3s;
    -o-transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.darklight-homepage-calendar-date.darklight-homepage-calendar-date-ani .weekday {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    font-size: 0.8rem;
    -webkit-transition: transform 0.3s, opacity 0.3s;
    -moz-transition: transform 0.3s, opacity 0.3s;
    -ms-transition: transform 0.3s, opacity 0.3s;
    -o-transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateY(0.3rem);
    -moz-transform: translateY(0.3rem);
    -ms-transform: translateY(0.3rem);
    -o-transform: translateY(0.3rem);
    transform: translateY(0.3rem);
}

.darklight-homepage-calendar-item:hover .darklight-homepage-calendar-date.darklight-homepage-calendar-date-ani .month {
    opacity: 0;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
}

.darklight-homepage-calendar-item:hover .darklight-homepage-calendar-date.darklight-homepage-calendar-date-ani .weekday {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateY(0);
}

.darklight-homepage-calendar-content {
    margin-left: 3.5rem;
}

.darklight-homepage-calendar-content .tag {
    float: right;
    padding: 2px;
    border: 1px solid #ff3c6a;
    border-radius: 3px;
    color: #ff3c6a;
    font-size: 0.7rem;
    line-height: 1em;
}

.darklight-homepage-calendar-content .time {
    font-weight: bold;
    display: inline-block;
    color: #565a5c;
    font-size: 0.8rem;
}

.darklight-homepage-calendar-content .course {
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: #aaa;
}

.darklight-homepage-calendar-content .content {
    display: block;
}

.darklight-homepage-calendar .darklight-block-page-loader {
    width: 55px;
    height: 55px;
    border: 5px solid #e6eaf0;
    border-top-color: #006fbf;
    margin: 10px auto 20px;
    background: #fff;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-box-shadow: 0 0 0 10px #fff, 0 0 0 11px #f4f4fc, 0 0 15px 10px #e6eaf0;
    -moz-box-shadow: 0 0 0 10px #fff, 0 0 0 11px #f4f4fc, 0 0 15px 10px #e6eaf0;
    box-shadow: 0 0 0 10px #fff, 0 0 0 11px #f4f4fc, 0 0 25px 10px rgba(150, 150, 190, 0.2);
}

/* course tiles */
.d2l-homepage d2l-card {
    -webkit-transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    -moz-transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    -ms-transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    -o-transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.d2l-homepage d2l-card .d2l-card-content {
    padding-bottom: 1.0rem !important;
}

.d2l-enrollment-card-image-container {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.d2l-enrollment-card-image-container.shown {
    opacity: 1;
}

d2l-all-courses-unified-content .d2l-enrollment-card-image-container {
    opacity: 1;
}

.darklight-course-thumb {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

d2l-card.d2l-enrollment-card {
    background: rgba(0, 0, 0, 0.02);
}

d2l-card.d2l-enrollment-card .d2l-card-content {
    background: #fff;
}

.d2l-homepage d2l-card .d2l-card-footer {
    display: none !important;
}

/* navbar */
.d2l-navigation-s-item *:focus {
    outline: none;
}

/* dropdown */
d2l-dropdown-menu .d2l-dropdown-content-top,
d2l-dropdown-menu .d2l-dropdown-content-bottom {
    width: 100%;
}

d2l-dropdown-menu .d2l-dropdown-content-width > div {
    display: block !important;
    float: left !important;
}

d2l-dropdown-menu .d2l-dropdown-content-width > div:after {
    content: "";
    display: table;
    clear: both;
}

d2l-dropdown-menu .d2l-dropdown-content-width d2l-menu {
    display: block !important;
}

d2l-dropdown-menu .d2l-dropdown-content-bottom {
    height: 6px !important;
}

/* course selector */
d2l-navigation-main-header .d2l-navigation-s-course-menu .d2l-dropdown-content-width > div {
    display: block !important;
    float: left !important;
}

d2l-navigation-main-header .d2l-navigation-s-course-menu .d2l-dropdown-content-width > div:after {
    content: "";
    display: table;
    clear: both;
}

d2l-navigation-main-header .d2l-navigation-s-course-menu .d2l-courseselector-wrapper .d2l-datalist {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.d2l-navigation-s-button:focus d2l-icon, .d2l-navigation-s-button:hover d2l-icon {
    height: 18px;
    width: 18px;
}

.d2l-navigation-s-mobile-menu-course-menu #courseSelectorId .vui-list > li {
    border-top: 1px solid #d3d9e3;
}

/* course content list loading */
.d2l-partial-render-shim1, .d2l-partial-render-shim2,
.d2l-partial-render-shimbg1, .d2l-partial-render-shimbg2 {
    z-index: 100;
}

/* course home calendar */
.darklight-course-home-calendar .d2l-widget-content {
    padding: 0 0 10px !important;
}

.darklight-course-home-calendar .d2l-collapsepane-header {
    border-left: none;
    border-right: none;
    border-radius: 0 !important;
}

.darklight-course-home-calendar .d2l-collapsepane-content {
    border-left: none;
    border-right: none;
    border-radius: 0 !important;
}

/* dropbox marking header */
.dropbox-header-toggle {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 50;
    padding: 4px 20px;
    width: 100px;
    color: #fff;
}

/* tmp fix for dropdown */
.vui-dropdown-menu > ul > li[role=separator] + li {
    border-top: 1px solid #e6eaf0;
}

.vui-dropdown-menu > ul > li.d2l-last-visible-item.vui-dropdown-menu-item-focus, .vui-dropdown-menu > ul > li.vui-dropdown-menu-item-focus, .vui-dropdown-menu > ul > li.vui-dropdown-menu-item-focus:last-child {
    border-color: #29a6ff !important;
}

.vui-dropdown-menu > ul > li[role=separator] {
    display: none;
}

.d2l-homepage-header-wrapper {
    margin-right: 0;
}

.d2l-widget-header .d2l-heading {
    margin-right: 0;
}

/* tmp fix for notifications */
.d2l-navigation-s-notifications-wrapper {
    display: block;
    margin: 0 -5px;
}

.d2l-navigation-s-personal-menu {
    padding-left: 10px;
}

@media (max-width: 931px) {
    .d2l-navigation-s-course-menu .d2l-navigation-s-button-highlight,
    .d2l-navigation-s-course-menu d2l-navigation-button-notification-icon {
        margin: 0 15px;
    }
}

/* tmp fix for popup max height calc err */
.d2l-dialog-inline .d2l-dialog-inline-body {
    max-height: none !important;
}

/* flyout */
#flyout.flyout-impl {
    z-index: 490 !important;
}