/* course tiles */
d2l-card {
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s !important;
}

/* homepage course tile image ratio */
d2l-card .d2l-enrollment-card-image-container {
    position: relative !important;
    height: auto !important;
    padding-top: 45%;
}

d2l-card .d2l-enrollment-card-image-container d2l-course-image {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    height: 100% !important;
    margin: auto !important;
}

/* course tiles - custom */
d2l-card.darklight-course-thumb-loading div[slot="header"] {
    background: rgba(0, 0, 0, 0.02);
}

d2l-card.darklight-course-thumb-loading .d2l-enrollment-card-image-container {
    opacity: 0;
    transition: opacity 0.5s !important;
}

d2l-card.darklight-course-thumb-complete .d2l-enrollment-card-image-container {
    opacity: 1 !important;
}

d2l-card.darklight-course-thumb .d2l-enrollment-card-image-container {
    background-color: transparent !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}