/* float buttons */
.d2l-floating-buttons-container.d2l-floating-buttons-floating.d2l-floating-buttons {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}