/* font size */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    font-size: 100%;
}

/* text */

.d2l-typography {
    color: #ddd;
}

.d2l-link-0 .d2l-link-elem.d2l-link, .d2l-link-0 .d2l-link-elem.d2l-link:active, .d2l-link-0 .d2l-link-elem.d2l-link:link, .d2l-link-0 .d2l-link-elem.d2l-link:visited {
    color: #09b1b9;
}

.d2l-link, .d2l-link:active, .d2l-link:link, .d2l-link:visited {
    color: #09b1b9;
}

.vui-breadcrumbs > div > a, .vui-breadcrumbs > div > a:active, .vui-breadcrumbs > div > a:link, .vui-breadcrumbs > div > a:visited, .vui-breadcrumbs > li > a, .vui-breadcrumbs > li > a:active, .vui-breadcrumbs > li > a:link, .vui-breadcrumbs > li > a:visited, .vui-breadcrumbs > span > a, .vui-breadcrumbs > span > a:active, .vui-breadcrumbs > span > a:link, .vui-breadcrumbs > span > a:visited {
    color: #09b1b9;
}

.vui-breadcrumbs > div:last-child, .vui-breadcrumbs > li:last-child, .vui-breadcrumbs > span:last-child {
    color: #ddd;
}

.d2l-htmlblock a, .d2l-htmlblock a:active, .d2l-htmlblock a:link, .d2l-htmlblock a:visited {
    color: #09b1b9;
}

.d2l-text-imagelink > .d2l-text-imagelink-text {
    color: #09b1b9;
}

.d2l-text-imagelink:focus > .d2l-text-imagelink-text, .d2l-text-imagelink:hover > .d2l-text-imagelink-text {
    color: #09b1b9;
}

.vui-label {
    color: #ddd;
}

.d2l-typography .d2l-body-small {
    color: #999;
}

.daylight .d_gact.d_gd td.d_gact a.di_l, .daylight .d_gact.d_gl td.d_gact a.di_l {
    color: #999;
}

.daylight .d_gact.d_gd td.d_gact a.di_l:hover, .daylight .d_gact.d_gl td.d_gact a.di_l:hover, .daylight .d_gact.d_gd td.d_gact a.di_l:focus, .daylight .d_gact.d_gl td.d_gact a.di_l:focus {
    color: #09b1b9;
    text-decoration: none;
}

.daylight a.di_l:hover d2l-icon, .daylight a.di_l:focus d2l-icon {
    color: #09b1b9;
}

.d2l-filterinline-group-flyout-item > .d2l-menuflyout-opener, div.d2l-filterinline-group-filter > div > a {
    color: #999;
}

.daylight .d2l-filterinline-group-flyout-item.d2l-menuflyout-closed > .d2l-menuflyout-opener:hover, .daylight .d2l-filterinline-group-flyout-item.d2l-menuflyout-closed > .d2l-menuflyout-opener:focus, .daylight div.d2l-filterinline-group-filter > div > a:hover, .daylight div.d2l-filterinline-group-filter > div > a.d2l-filterinline-item-focus {
    color: #09b1b9;
    text-decoration: none;
}

.daylight label .ds_i {
    color: #ddd;
}

.vui-outline-force, .vui-outline:focus {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* body bg */
body {
    color: #ddd;
}

::selection {
    background: #09b1b9;
}

::-moz-selection {
    background: #09b1b9;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1f242b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #323841;
    border: 2px solid #1f242b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #424a56;
}

#d2l_body, .d2l-body {
    background: #282d34;
}

.d2l-page-bg > div, .d2l-page-main, .d2l-max-width, .d2l-min-width {
    background: #323841;
    /*min-height: 100vh;*/
}

.d2l-page-bg {
    top: 0;
}

.d2l-page-main .darklight-waterloo {
    position: absolute;
    top: 140px;
    left: 0;
    width: 103px;
    height: 842px;
    z-index: -1;
    background: transparent top left no-repeat;
}

/* buttons */
.d2l-button {
    box-shadow: none;
}

.d2l-button, .d2l-button[disabled]:focus, .d2l-button[disabled]:hover {
    background-color: transparent;
    border-color: #999;
    color: #999;
}

.d2l-button .d2l-icon-custom {
    -webkit-filter: brightness(180%);
    filter: brightness(180%);
}

.d2l-button.d2l-button-hover, .d2l-button:hover {
    border-color: #09b1b9;
    background-color: #09b1b9;
    color: #fff;
}

.d2l-button.d2l-button-hover .d2l-icon-custom, .d2l-button:hover .d2l-icon-custom {
    -webkit-filter: brightness(500%);
    filter: brightness(500%);
}

.d2l-button.d2l-button-focus, .d2l-button:focus {
    box-shadow: none;
    border-color: #09b1b9;
    background-color: #09b1b9;
    color: #fff;
}

.d2l-button.d2l-button-focus .d2l-icon-custom, .d2l-button:focus .d2l-icon-custom {
    -webkit-filter: brightness(500%);
    filter: brightness(500%);
}

.d2l-button[primary], .d2l-button[primary][disabled]:focus, .d2l-button[primary][disabled]:hover {
    background: none;
    border-color: #09b1b9;
    color: #09b1b9;
}

.d2l-button[primary].d2l-button-hover, .d2l-button[primary]:hover {
    color: #fff;
    background: #09b1b9;
}

.d2l-button[primary].d2l-button-focus, .d2l-button[primary]:focus {
    box-shadow: none;
}

.d2l-simple-overlay-close-button-0 .close-button.d2l-simple-overlay-close-button:focus d2l-icon.d2l-simple-overlay-close-button, .d2l-simple-overlay-close-button-0 .close-button.d2l-simple-overlay-close-button:hover d2l-icon.d2l-simple-overlay-close-button {
    color: #fff;
}

.d2l-all-courses-0 .focus.d2l-all-courses, .d2l-all-courses-0 button.d2l-all-courses:focus > d2l-icon.d2l-all-courses, .d2l-all-courses-0 button.d2l-all-courses:focus > span.d2l-all-courses, .d2l-all-courses-0 button.d2l-all-courses:hover > d2l-icon.d2l-all-courses, .d2l-all-courses-0 button.d2l-all-courses:hover > span.d2l-all-courses {
    color: #09b1b9;
}

.d2l-navigation-s-button {
    background-color: transparent;
    border-color: #999;
    color: #999;
}

.d2l-navigation-s-button:focus, .d2l-navigation-s-button:hover {
    background-color: #09b1b9;
    border-color: #09b1b9;
    color: #fff;
}

.d2l-navigation-s-button:focus d2l-icon, .d2l-navigation-s-button:hover d2l-icon {
    color: #fff;
}

/* checkboxes */
.vui-input[type=checkbox], .vui-input[type=checkbox]:hover:disabled {
    background-color: #424a56;
    border-color: #424a56;
}

.vui-input[type=checkbox].vui-input-focus, .vui-input[type=checkbox]:focus, .vui-input[type=checkbox]:hover {
    border-color: #09b1b9;
    background-color: #424a56;
}

.vui-input[type=checkbox]:checked {
    background-color: #09b1b9;
}

/* selects */
select.vui-input, select.vui-input:hover:disabled {
    background-color: #424a56;
    border-color: rgba(0, 0, 0, 0.01);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #ddd;
}

select.vui-input.vui-input-focus, select.vui-input:focus, select.vui-input:hover {
    border-color: #09b1b9;
}

/* inputs */
.vui-input-search-container input[type=text], .vui-input-search-container input[type=text]:hover:disabled, .vui-input-search-container input[type=search], .vui-input-search-container input[type=search]:hover:disabled {
    background: #424a56;
    color: #ddd;
    border-color: #424a56;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.vui-input-search-container input[type=text].vui-input-focus, .vui-input-search-container input[type=text]:focus, .vui-input-search-container input[type=text]:hover, .vui-input-search-container input[type=search].vui-input-focus, .vui-input-search-container input[type=search]:focus, .vui-input-search-container input[type=search]:hover {
    border-color: #09b1b9;
}

.vui-input[type=email], .vui-input[type=email]:hover:disabled, .vui-input[type=password], .vui-input[type=password]:hover:disabled, .vui-input[type=text], .vui-input[type=text]:hover:disabled, .vui-input[type=url], .vui-input[type=url]:hover:disabled {
    background: #424a56;
    color: #ddd;
    border-color: #424a56;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.vui-input[type=email].vui-input-focus, .vui-input[type=email]:focus, .vui-input[type=email]:hover, .vui-input[type=password].vui-input-focus, .vui-input[type=password]:focus, .vui-input[type=password]:hover, .vui-input[type=text].vui-input-focus, .vui-input[type=text]:focus, .vui-input[type=text]:hover, .vui-input[type=url].vui-input-focus, .vui-input[type=url]:focus, .vui-input[type=url]:hover {
    border-color: #09b1b9;
}

.d2l-search-widget-1 input.d2l-search-widget {
    background: #424a56;
    color: #ddd;
    border-color: #424a56;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.d2l-search-widget-1 input.d2l-search-widget:focus, .d2l-search-widget-1 input.d2l-search-widget:hover {
    border-color: #09b1b9;
}

.d2l-search-widget-custom-0 input.d2l-search-widget-custom {
    background: #424a56;
    color: #ddd;
    border-color: #424a56;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.d2l-search-widget-custom-0 input.d2l-search-widget-custom:focus, .d2l-search-widget-custom-0 input.d2l-search-widget-custom:hover {
    border-color: #09b1b9;
}

.daylight .d2l-editable-placeholder {
    background: #424a56;
    border-color: #424a56;
    color: #ddd;
}

.daylight .d2l-editable-focus {
    border-color: #09b1b9;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.daylight .d2l-editable:hover {
    background: #424a56;
    border-color: #09b1b9;
    color: #ddd;
}

textarea.vui-input, textarea.vui-input:hover:disabled {
    background: #424a56;
    color: #ddd;
    border-color: #424a56;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea.vui-input.vui-input-focus, textarea.vui-input:focus, textarea.vui-input:hover {
    border-color: #09b1b9;
}

.vui-changed, .vui-dropdown-menu > ul > li.d2l-last-visible-item.vui-dropdown-menu-item-focus, .vui-dropdown-menu > ul > li.vui-dropdown-menu-item-focus {
    background: rgba(255, 255, 255, 0.05);
}

/* table */
.daylight .ds_b {
    color: #999;
}

.d2l-table-col-sort-button-0 button.d2l-table-col-sort-button {
    color: #ddd;
}

.d2l-table:not([style-scope]):not(.style-scope) > *:not([style-scope]):not(.style-scope) > tr[header]:not([style-scope]):not(.style-scope) > th:not([style-scope]):not(.style-scope), .d2l-table:not([style-scope]):not(.style-scope) > thead:not([style-scope]):not(.style-scope) > tr:not([style-scope]):not(.style-scope) > th:not([style-scope]):not(.style-scope), d2l-thead:not([style-scope]):not(.style-scope) > d2l-tr:not([style-scope]):not(.style-scope) > d2l-th:not([style-scope]):not(.style-scope), d2l-tr[header]:not([style-scope]):not(.style-scope) > d2l-th:not([style-scope]):not(.style-scope) {
    color: #ddd;
}

.d2l-table:not([style-scope]):not(.style-scope) > tbody:not([style-scope]):not(.style-scope), d2l-tbody:not([style-scope]):not(.style-scope) {
    background: none;
    border-color: rgba(255, 255, 255, 0.1);
}

.d2l-table:not([style-scope]):not(.style-scope) > *:not([style-scope]):not(.style-scope) > tr:not([style-scope]):not(.style-scope), d2l-tr:not([style-scope]):not(.style-scope) {
    background: none;
    border-color: rgba(255, 255, 255, 0.1);
}

.d2l-table:not([style-scope]):not(.style-scope) > *:not([style-scope]):not(.style-scope) > tr[header]:not([style-scope]):not(.style-scope) > th:not([style-scope]):not(.style-scope), .d2l-table:not([style-scope]):not(.style-scope) > thead:not([style-scope]):not(.style-scope) > tr:not([style-scope]):not(.style-scope) > th:not([style-scope]):not(.style-scope), d2l-thead:not([style-scope]):not(.style-scope) > d2l-tr:not([style-scope]):not(.style-scope) > d2l-th:not([style-scope]):not(.style-scope), d2l-tr[header]:not([style-scope]):not(.style-scope) > d2l-th:not([style-scope]):not(.style-scope) {
    background: rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.1);
}

.d2l-table:not([style-scope]):not(.style-scope) > *:not([style-scope]):not(.style-scope) > tr:not([style-scope]):not(.style-scope) > td:not([style-scope]):not(.style-scope), .d2l-table:not([style-scope]):not(.style-scope) > *:not([style-scope]):not(.style-scope) > tr:not([style-scope]):not(.style-scope) > th:not([style-scope]):not(.style-scope), d2l-td:not([style-scope]):not(.style-scope), d2l-th:not([style-scope]):not(.style-scope) {
    border-color: rgba(255, 255, 255, 0.1);
}

/* widget */

.daylight .d2l-widget {
    background: #373e48;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 0;
    border: none;
}

.daylight .d2l-widget-header {
    background: #424a56;
    padding: 10px 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.d2l-contextmenu-ph, .dcm.dcm_handle.bsi-button-menu {
    -webkit-filter: grayscale(100%) brightness(200%);
    filter: grayscale(100%) brightness(200%);
}

.d2l-contextmenu-ph:focus, .d2l-contextmenu-ph:hover, .dcm.dcm_handle.bsi-button-menu:focus, .dcm.dcm_handle.bsi-button-menu:hover,
.d2l-contextmenu-ph.d2l-contextmenu-opener-open, .dcm.dcm_handle.d2l-contextmenu-opener-open {
    border-color: rgba(255, 255, 255, 0.5);
    -webkit-filter: grayscale(100%) brightness(300%);
    filter: grayscale(100%) brightness(300%);
}

.daylight .d2l-widget-header .d2l-heading {
    color: #fff !important;
}

.daylight .d2l-widget-header:after {
    content: '';
    display: table;
    clear: both;
}

.daylight .d2l-widget-header .d2l-heading.vui-heading-2 {
    font-size: 16px;
    line-height: 25px;
}

.daylight .d2l-widget-content {
    padding: 10px 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.d2l-htmlblock ol, .d2l-htmlblock ul {
    padding-left: 1em;
}

.daylight .homepage-container div:last-of-type .d2l-widget:last-child {
    border: none;
}

/* dropdown */
.daylight .d2l-messagebucket-button-container {
    border: none;
}

.daylight .d2l-messagebucket-button-container + #AB_DL_PH_Messages .d2l-datalist-container {
    background: none;
}

.vui-heading-collapsible > .vui-heading-collapsible-changed[aria-expanded=false], .vui-heading-collapsible > .vui-heading-collapsible-changed[aria-expanded=false]:focus, .vui-heading-collapsible > .vui-heading-collapsible-changed[aria-expanded=false]:hover, .vui-list > .vui-active, .vui-list > .vui-selected {
    background: none;
    border: none;
}

.vui-list > .vui-active.vui-selected {
    background: #09b1b9;
    color: #fff;
}

.vui-list > .vui-active.vui-selected a {
    color: #fff;
}

.d2l-filter-menu-0 #contentView.d2l-filter-menu {
    background: #424a56;
}

.d2l-filter-menu-0 .dropdown-content-tab-highlight.d2l-filter-menu {
    background-color: #09b1b9;
}

.d2l-filter-menu-0 .dropdown-content-header.d2l-filter-menu {
    border: none;
}

.d2l-filter-menu-0 .dropdown-content-tab-button.d2l-filter-menu {
    color: #ddd;
}

.d2l-filter-menu-0 button.d2l-filter-menu:focus, .d2l-filter-menu-0 button.d2l-filter-menu:hover {
    color: #09b1b9;
    text-decoration: none;
}

.d2l-dropdown-content-0 .d2l-dropdown-content-pointer.d2l-dropdown-content > div.d2l-dropdown-content {
    background: #323841;
    border: none;
}

.d2l-dropdown-content-0 {
    color: #ddd;
}

.d2l-dropdown-content-0 .d2l-dropdown-content-width.d2l-dropdown-content {
    background: #323841;
    border-color: #323841;
}

.d2l-dropdown-content-2 .d2l-dropdown-content-width.d2l-dropdown-content {
    background: #323841;
    border-color: #323841;
    color: #ddd;
}

.d2l-search-listbox-0 > * {
    border: none;
}

.d2l-search-listbox-0 > :not([disabled]):focus, .d2l-search-listbox-0 > :not([disabled]):hover {
    border: none;
    color: #fff;
    background: #09b1b9;
}

.d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-first[role=menuitem], .d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-first[role=menuitemcheckbox], .d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-first[role=menuitemradio], .d2l-menu-0 .d2l-menu-items.d2l-menu d2l-menu-item-return[role=menuitem].d2l-menu {
    border: none;
    background: none;
}

.d2l-menu-0 .d2l-menu-items.d2l-menu > [role=menuitem], .d2l-menu-0 .d2l-menu-items.d2l-menu > [role=menuitemcheckbox], .d2l-menu-0 .d2l-menu-items.d2l-menu > [role=menuitemradio], .d2l-menu-0 .d2l-menu-items.d2l-menu d2l-menu-item-return[role=menuitem].d2l-menu {
    border: none;
    background: none;
}

.d2l-dropdown-content-1 .d2l-dropdown-content-width.d2l-dropdown-content,
.d2l-dropdown-content-1 .d2l-dropdown-content-pointer.d2l-dropdown-content > div.d2l-dropdown-content {
    background: #323841;
    border-color: #323841;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .4);
}

.d2l-minibar-menu-separator {
    border-color: #424a56
}

.d2l-all-courses-0 .dropdown-content-header.d2l-all-courses {
    border: none;
}

.d2l-dropdown-menu-0 {
    color: #ddd;
}

.d2l-dropdown-menu-0 .d2l-dropdown-content-width.d2l-dropdown-menu,
.d2l-dropdown-menu-0 .d2l-dropdown-content-pointer.d2l-dropdown-menu > div.d2l-dropdown-menu {
    background: #323841;
    border-color: #323841;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .4);
}

d2l-menu-item, d2l-menu-item-link {
    background: #323841;
    border: none;
}

.d2l-menu-0 .d2l-menu-items.d2l-menu > [role=menuitem], .d2l-menu-0 .d2l-menu-items.d2l-menu > [role=menuitemcheckbox], .d2l-menu-0 .d2l-menu-items.d2l-menu > [role=menuitemradio], .d2l-menu-0 .d2l-menu-items.d2l-menu d2l-menu-item-return[role=menuitem].d2l-menu {
    color: #ddd;
    border: none;
}

.d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-first[role=menuitem]:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-first[role=menuitem]:hover, .d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-first[role=menuitemcheckbox]:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-first[role=menuitemcheckbox]:hover, .d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-first[role=menuitemradio]:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-first[role=menuitemradio]:hover, .d2l-menu-0 .d2l-menu-items.d2l-menu > [role=menuitem]:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu > [role=menuitem]:hover, .d2l-menu-0 .d2l-menu-items.d2l-menu > [role=menuitemcheckbox]:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu > [role=menuitemcheckbox]:hover, .d2l-menu-0 .d2l-menu-items.d2l-menu > [role=menuitemradio]:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu > [role=menuitemradio]:hover, .d2l-menu-0 .d2l-menu-items.d2l-menu d2l-menu-item-return[role=menuitem].d2l-menu:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu d2l-menu-item-return[role=menuitem].d2l-menu:hover {
    border: none;
    color: #fff;
    background: #09b1b9;
}

.d2l-floating-container {
    background: #323841;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .4);
}

.vui-dropdown-menu {
    background: #323841;
}

.vui-dropdown-menu > ul > li {
    border: none !important;
}

.vui-dropdown-menu > ul > li[role=separator] {
    border: none !important;
}

.vui-dropdown-menu > ul > li[role=separator] + li {
    border: none !important;
}

.vui-dropdown-menu-item-link, .vui-dropdown-menu-item-link:active, .vui-dropdown-menu-item-link:link, .vui-dropdown-menu-item-link:visited {
    color: #ddd;
    border: none;
}

.vui-dropdown-menu > ul > li.d2l-last-visible-item {
    border: none;
}

.vui-dropdown-menu > ul > li.d2l-last-visible-item.vui-dropdown-menu-item-focus, .vui-dropdown-menu > ul > li.vui-dropdown-menu-item-focus, .vui-dropdown-menu > ul > li.vui-dropdown-menu-item-focus:last-child {
    border: none;
    color: #fff;
    background: #09b1b9;
}

.vui-dropdown-menu-item-link:focus, .vui-dropdown-menu-item-link:hover {
    color: #ddd;
}

.vui-dropdown-menu > ul > li.d2l-first-visible-item {
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
}

/* navbar */

.d2l-navigation-s-logo img {
    max-height: 40px;
}

.d2l-navigation-s-logo-link:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.d2l-navigation-s, .d2l-navigation-s-no-login {
    background: #323841;
}

.d2l-navigation-s-shadow-gradient {
    background: none;
}

.d2l-navigation-s-header {
    border-bottom: 2px solid #09b1b9;
}

.d2l-navigation-s-main-wrapper {
    height: calc(1rem + 35px);
}

.d2l-navigation-s-main {
    border: none;
    background: #282d34;
}

a.d2l-navigation-s-link, a.d2l-navigation-s-link:link, a.d2l-navigation-s-link:visited {
    color: #999;
}

.d2l-navigation-s-item .d2l-navigation-s-group-text,
.d2l-navigation-s-item .d2l-icon-0 {
    color: #999 !important;
}

.d2l-icon-0 {
    color: #999
}

.d2l-icon-0[icon*="d2l-tier3:"] {
    width: 20px;
    height: 20px;
}

.d2l-navigation-s-divider d2l-icon {
    color: #333
}

.d2l-navigation-s-button-highlight {
    color: #999;
}

.d2l-navigation-s-button-highlight:focus d2l-icon, .d2l-navigation-s-button-highlight:hover d2l-icon, button.d2l-navigation-s-button-highlight:focus, button.d2l-navigation-s-button-highlight:hover {
    color: #09b1b9;
}

button.d2l-navigation-s-button-highlight[data-active], button.d2l-navigation-s-button-highlight[data-active] d2l-icon {
    color: #09b1b9;
}

.d2l-navigation-s-highlight-bar {
    background-color: #09b1b9;
}

.d2l-navigation-s-button-highlight[data-active] .d2l-navigation-s-highlight-bar {
    background-color: #09b1b9;
}

.d2l-navigation-s-band-color {
    display: none;
}

.d2l-dropdown-menu-0 .d2l-dropdown-content-bottom.d2l-dropdown-menu {
    height: 1px;
}

.d2l-navigation-s-personal-menu-wrapper img {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

/* nav mobile */
.d2l-navigation-s-mobile-menu-mask {
    background: #282d34;
}

.d2l-navigation-s-mobile-menu-content {
    border-color: #09b1b9 !important;
    background: #323841;
}

.d2l-navigation-s-mobile-menu-header {
    border: none;
}

.d2l-navigation-s-mobile-menu-title-bp {
    background: #424a56;
    color: #ddd;
    border: none;
}

.d2l-navigation-s-mobile-menu-title-bp .d2l-navigation-s-link {
    color: #ddd !important;
}

.daylight .d2l-textblock-secondary {
    color: #999;
}

/* homepage */
.homepage-container .d2l-htmlblock .results {
    padding: 10px 15px !important;
    opacity: 0.6;
}

.homepage-container .d2l-htmlblock .results .btn {
    margin: 0;
    font-size: 14px;
    line-height: 1.2em;
    color: #000;
}

.homepage-container .d2l-htmlblock .results a {
    font-size: 14px !important;
}

@media screen and (min-width: 768px) {

    .homepage-container > div:not(.homepage-row):not(:last-child), .homepage-row > div:not(:last-child), .homepage-row > div > div:not(:last-child) {
        margin-right: 3.15464%
    }

    .homepage-col-1 {
        width: 4.60825%
    }

    .homepage-col-2 {
        width: 13.37113%
    }

    .homepage-col-3 {
        width: 22.13402%
    }

    .homepage-col-4 {
        width: 30.89691%
    }

    .homepage-col-5 {
        width: 39.65979%
    }

    .homepage-col-6 {
        width: 48.42268%
    }

    .homepage-col-7 {
        width: 57.18557%
    }

    .homepage-col-8 {
        width: 65.94845%
    }

    .homepage-col-9 {
        width: 74.71134%
    }

    .homepage-col-10 {
        width: 83.47423%
    }

    .homepage-col-11 {
        width: 92.23711%
    }

    .homepage-col-12 {
        width: 100%
    }
}

/* button */

.d2l-button, .d2l-button * {
    vertical-align: bottom !important;
}

/* course banner */
.d2l-course-tile-0 .course-image.d2l-course-tile {
    background: none;
}

.d2l-course-image, .d2l-course-banner > img {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

.d2l-course-banner-container {
    margin: 0;
    max-width: none;
}

/* course content */
/*#ContentView {*/
/*background: #fff;*/
/*color: #000;*/
/*-webkit-filter: brightness(0.8);*/
/*filter: brightness(0.8);*/
/*}*/

iframe {
    background: #fff;
    color: #000;
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
}

/*#d2l_le_content_printcontainer {*/
/*background: #fff;*/
/*color: #000;*/
/*-webkit-filter: brightness(0.8);*/
/*filter: brightness(0.8);*/
/*}*/

.d2l-popup-title {
    background: #323841;
    border: none;
    color: #ddd;
}

.d2l-twopanelselector-side-bg.d2l-twopanelselector-side-sep, .d2l-twopanelselector-side.d2l-twopanelselector-side-sep {
    background: #f9fafb;
}

.d2l-collapsepane-header {
    padding-bottom: 0.6rem !important;
}

.d2l-collapsepane-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.d2l-collapsepane-content > div.d2l-placeholder.d2l-placeholder-live > div.d2l-placeholder.d2l-placeholder-live > div {
    padding-top: 0;
}

.vui-list > li {
    border-color: #424a56;
    border-width: 0;
}

.d2l-datalist-item-content img,
.d2l-datalist-item-content .d2l-container-icon {
    filter: brightness(120%);
}

.vui-tabmenu > .vui-tabmenu-item-select > a {
    color: #ddd;
    background: #424a56;
    border: none;
}

.vui-tabmenu > .vui-tabmenu-item > a:hover {
    color: #09b1b9;
}

.vui-tabmenu > .vui-tabmenu-item-select:last-child > a > .vui-tabmenu-item-blue, .vui-tabmenu > .vui-tabmenu-item-select > a > .vui-tabmenu-item-blue {
    background-color: #09b1b9;
    border-color: #09b1b9;
}

#AdditionalInfoPlaceholder + div {
    border: none !important;
    background: #373e48;
}

.daylight .d2l-iterator-button, .daylight .d2l-iterator-button.d2l-iterator-button-disabled:hover, .daylight .d2l-iterator-button.d2l-iterator-button-disabled:focus {
    background: none;
    border-color: #999;
}

.daylight .d2l-iterator-button:hover, .daylight .d2l-iterator-button:focus {
    background-color: #09b1b9;
    color: #000;
    border-color: #09b1b9;
}

.daylight .d2l-iterator-button:hover .d2l-icon, .daylight .d2l-iterator-button:focus .d2l-icon {
    color: #fff;
}

/* course content sidebar */
.d2l-twopanelselector-side-bg.d2l-twopanelselector-side-sep, .d2l-twopanelselector-side.d2l-twopanelselector-side-sep {
    background: #373e48;
    border-color: #373e48;
}

.d2l-twopanelselector-wrapper.d2l-repsonsive-collapse-layout .d2l-twopanelselector-side.d2l-twopanelselector-side-sep {
    background: #373e48;
}

.daylight #ContentModuleTree a.d2l-le-TreeAccordionItem-anchor, .daylight #ContentModuleTree a.d2l-le-TreeAccordionItem-anchor:link, .daylight #ContentModuleTree a.d2l-le-TreeAccordionItem-anchor:visited, .daylight #ContentModuleTree a.d2l-le-TreeAccordionItem-anchor:hover, .daylight #ContentModuleTree a.d2l-le-TreeAccordionItem-anchor:focus {
    color: #ddd;
}

.daylight #ContentModuleTree a.d2l-le-TreeAccordionItem-anchor:hover .d2l-inline .d2l-textblock:first-child, .daylight #ContentModuleTree a.d2l-le-TreeAccordionItem-anchor:focus .d2l-inline .d2l-textblock:first-child, .daylight #ContentModuleTree a.d2l-le-TreeAccordionItem-anchor:hover .d2l-tree-browser-icon, .daylight #ContentModuleTree a.d2l-le-TreeAccordionItem-anchor:focus .d2l-tree-browser-icon {
    color: #09b1b9;
    text-decoration: none;
}

.daylight #D2L_LE_Content_TreeBrowser .d2l-le-TreeAccordionItem {
    border: none;
}

.daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor::before, .daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:link::before, .daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:visited::before, .daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:hover::before, .daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:focus::before {
    background: #424a56;
}

.daylight .d2l-repsonsive-collapse-layout #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor::before, .daylight .d2l-repsonsive-collapse-layout #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:link::before, .daylight .d2l-repsonsive-collapse-layout #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:visited::before, .daylight .d2l-repsonsive-collapse-layout #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:hover::before, .daylight .d2l-repsonsive-collapse-layout #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:focus::before {
    background: #424a56;
}

.daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor::after, .daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:link::after, .daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:visited::after, .daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:hover::after, .daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:focus::after {
    background: none;
}

.d2l-partial-render-shim1 {
    background: #323841;
}

.d2l-shim {
    background: #323841;
}

.d2l-imagelink:focus:not(.d2l-imagelink-disabled) d2l-icon, .d2l-imagelink:hover:not(.d2l-imagelink-disabled) d2l-icon {
    color: #ddd;
}

.daylight .d2l-collapsepane .d2l-collapsepane-header {
    background: #424a56;
    border: none;
}

.daylight .d2l-collapsepane .d2l-collapsepane-content, .daylight .d2l-collapsepane .d2l-collapsepane-header.d2l-collapsepane-collapsed {
    background: #373e48;
    border: none;
}

.daylight .d2l-widget .d2l-collapsepane .d2l-collapsepane-content, .daylight .d2l-widget .d2l-collapsepane .d2l-collapsepane-header.d2l-collapsepane-collapsed {
    background: #424a56;
}

.d2l-image-action-button-0 .d2l-image-action-content.d2l-image-action-button {
    color: #999;
}

.d2l-image-action-button-0 button.d2l-image-action-button:focus .d2l-image-action-icon.d2l-image-action-button, .d2l-image-action-button-0 button.d2l-image-action-button:hover .d2l-image-action-icon.d2l-image-action-button {
    color: #09b1b9;
}

.d2l-image-action-button-0 button.d2l-image-action-button:focus > .d2l-image-action-content.d2l-image-action-button, .d2l-image-action-button-0 button.d2l-image-action-button:hover > .d2l-image-action-content.d2l-image-action-button {
    color: #09b1b9;
    text-decoration: none;
}

.d2l-link.d2l-link-flat:focus, .d2l-link.d2l-link-flat:hover, .d2l-linkheading-link.d2l-link-flat:focus, .d2l-linkheading-link.d2l-link-flat:hover {
    color: #09b1b9;
    text-decoration: underline;
}

.daylight .d2l-msg-container {
    background: #424a56;
    border: none;
    color: #ddd;
}

.d2l-le-TreeAccordionItem-wrapper > div > div > div:nth-last-child(2) > div {
    background: none;
    border-color: #09b1b9;

}

.d2l-le-TreeAccordionItem-wrapper > div > div > div:nth-last-child(2) > div > div {
    color: #09b1b9;
}

/* progress bar */
.d2l-progresschart > svg > path {
    fill: #424a56;
    stroke: none;
}

.d2l-progresschart > svg > a > rect {
    fill: #09b1b9;
    stroke: none;
}

/* all courses */
.d2l-simple-overlay-0, .d2l-simple-overlay-0.d2l-simple-overlay-open {
    background: #323841;
}

.d2l-simple-overlay-0 .scrollable.d2l-simple-overlay {
    background: #323841;
    border-color: #09b1b9;
}

/* toast */
.d2l-page-message {
    background: #424a56;
    border: none;
    color: #ddd;
}

.d2l-flash-message {
    color: #ddd;
    filter: brightness(400%);
}

.d2l-flash-message-text {
    color: #ddd;
}

/* tabs */
.daylight .d_tabs_header .d_tabs_c, .daylight .d_tabs_header td.d_tabs_c_o {
    border: 2px solid #323841;
    border-bottom: none;
    background: #373e48;
}

.daylight td.d_tabs_c a, .daylight td.d_tabs_c a:link, .daylight td.d_tabs_c a:visited, .daylight td.d_tabs_c a:hover {
    color: #ddd;
}

.daylight .d_tabs_header td.d_tabs_c_s, .daylight .d_tabs_header td.d_tabs_c_s_o {
    background: #09b1b9;
    border: 2px solid #09b1b9;
}

.daylight .d_tabs_header td.d_tabs_c_o a {
    font-weight: normal;
    color: #ddd;
    text-decoration: none;
}

.daylight .d_tabs_header td.d_tabs_c_s a {
    font-weight: normal;
    color: #fff;
    text-decoration: none;
}

.daylight .d_tabs_header td.d_tabs_c_s_o a {
    font-weight: normal;
    color: #fff;
    text-decoration: none;
}

.daylight div.d_tabs_container {
    border: none;
    background: #373e48;
}

.d2l-table:not([style-scope]):not(.style-scope) > tbody:not([style-scope]):not(.style-scope) > tr[selected]:not([style-scope]):not(.style-scope), d2l-tbody:not([style-scope]):not(.style-scope) > d2l-tr[selected]:not([style-scope]):not(.style-scope) {
    background: #424a56;
}

.daylight .d2l-tool-areas-item-selected > .d2l-tool-areas-link, .daylight .d2l-tool-areas-item-selected > .d2l-tool-areas-link:visited, .daylight .d2l-tool-areas-item-selected > .d2l-tool-areas-link:link, .daylight .d2l-tool-areas-item-selected > .d2l-tool-areas-link:hover, .daylight .d2l-tool-areas-item-selected > .d2l-tool-areas-link:focus {
    color: #09b1b9;
}

.daylight .d2l-tool-areas-link, .daylight .d2l-tool-areas-link:visited, .daylight .d2l-tool-areas-link:link, .daylight .d2l-tool-areas-link:hover, .daylight .d2l-tool-areas-link:focus {
    color: #999;
}

.daylight .d2l-tool-areas-bar {
    border-color: #09b1b9;
}

.daylight .d2l-tool-areas-list {
    border: none;
}

/* discussion */
.d2l-le-disc-post {
    background: none;
}

d2l-more-less:not([expanded]):not([inactive]) .more-less-blur.d2l-more-less {
    background: none !important;
}

/* groups */
.daylight .d2l-grid[type=data] > :only-child > tr.d_ggl2 > td, .daylight .d2l-grid[type=data] > :only-child > tr.d_ggl2 > th, .daylight .d2l-grid[type=list] > :only-child > tr.d_ggl2 > td, .daylight .d2l-grid[type=list] > :only-child > tr.d_ggl2 > th {
    background: none;
}

/* quiz */
.d2l-rowshadeonhover-selected {
    background: #373e48;
}

.d2l-rowshadeonhover-selected:hover {
    background: #424a56;
}

/* floating control */
.d2l-floating-buttons-0 .d2l-floating-buttons-container.d2l-floating-buttons-floating.d2l-floating-buttons {
    border: none;
    background: #424a56;
    box-shadow: none;
}

/* drop box */

/* calendar */
.d2l-page-header-dark {
    background: none;
    border: none;
}

.vui-button, .vui-button.vui-disabled:focus, .vui-button.vui-disabled:hover, .vui-button:focus, .vui-button:hover, .vui-button:link, .vui-button:visited, .vui-button[disabled]:focus, .vui-button[disabled]:hover {
    background: none;
    border-color: #999;
    color: #999;
}

.daylight .d2l-button-filter > ul > li > a.d2l-button-filter-selected {
    color: #000;
    background: #ddd;
    border-color: #ddd;
}

.daylight .d2l-button-filter > ul > li > a.vui-button:focus, .daylight .d2l-button-filter > ul > li > a.d2l-button-filter-selected:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.d2l-panel {
    border-color: rgba(255, 255, 255, 0.1);
    background: #373e48;
}

.d2l-le-calendar-day-header {
    color: #ddd;
}

.d2l-le-calendar-day-all th, .d2l-le-calendar-day-events th {
    border-color: #424a56;
}

.d2l-le-calendar-day-events td {
    border-color: #424a56;
}

td.d2l-le-calendar-half {
    border-color: #424a56 !important;
}

.d2l-le-calendar-today {
    border-color: #424a56;
    background: #373e48 !important;
}

.d2l-le-calendar-sep {
    border: none;
    background: #424a56;
}

td.d2l-le-calendar-weekend, th.d2l-le-calendar-weekend, .d2l-le-calendar-week-header.d2l-le-calendar-weekend, .d2l-le-calendar-week-all td.d2l-le-calendar-weekend, .d2l-le-calendar-week-events td.d2l-le-calendar-weekend {
    background: #323841;
}

.d2l-le-calendar-week-days .d2l-le-calendar-week-header {
    border-color: #424a56;
}

.d2l-le-calendar-week-all td {
    border-color: #424a56;
}

.d2l-le-calendar-week-events th, .d2l-le-calendar-week-events td {
    border-color: #424a56;
}

.d2l-le-calendar-week-header {
    color: #ddd;
}

.d2l-le-calendar-month th {
    border-color: #424a56;
}

.d2l-le-calendar-month td {
    border-color: #424a56;
}

.d2l-le-calendar-month th {
    color: #ddd;
}

.d2l-le-calendar-month td {
    color: #ddd;
}

.d2l-le-calendar-month-other .d2l-le-calendar-month-day {
    color: #999;
}

.d2l-column-flip-side {
    background: #373e48;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.daylight .d2l-calendar-mini-today {
    color: #09b1b9;
}

.daylight .d2l-calendar-mini-selected {
    background: none;
    border-color: #09b1b9;
}

.daylight .d2l-calendar-mini-day:hover, .daylight .d2l-calendar-mini-day:focus {
    color: #fff;
    background: #09b1b9;
    border-radius: 0.3rem;
}

.daylight .d2l-calendar-mini-selected:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#ListViewFormId .vui-list > li {
    border: none;
}

.daylight .d2l-sep-s > hr {
    border-color: rgba(255, 255, 255, 0.1);
}

.daylight .d2l-menuflyout-dark .d2l-menuflyout-opener:hover, .daylight .d2l-menuflyout-dark .d2l-menuflyout-opener:focus, .daylight .d2l-menuflyout-dark .d2l-menuflyout-link-hover:hover, .daylight .d2l-menuflyout-dark.d2l-menuflyout-link-focus .d2l-menuflyout-link-hover {
    background: none;
    border: 1px solid #999;
}

.d2l-menuflyout-dark .d2l-menuflyout-text, .d2l-menuflyout-dark .d2l-menuflyout-link-link, .d2l-menuflyout-dark .d2l-menuflyout-link-link:link, .d2l-menuflyout-dark .d2l-menuflyout-link-link:hover, .d2l-menuflyout-dark .d2l-menuflyout-link-link:visited {
    color: #999 !important;
}

.d2l-menuflyout.d2l-menuflyout-open .d2l-menuflyout-opener {
    background: #09b1b9 !important;
    border-color: #09b1b9 !important;
}

.daylight .d2l-menuflyout.d2l-menuflyout-open .d2l-menuflyout-text, .daylight .d2l-menuflyout-open .d2l-menuflyout-link-link {
    color: #fff !important;
}

.d2l-menuflyout-contents {
    background: #323841;
    border: none !important;
}

.daylight .vui-active .d2l-textblock-secondary {
    color: #fff;
}

/* course content quick nav */
.daylight .d2l-page-collapsepane-handle, .daylight .d2l-page-collapsepane.d2l-page-collapsepane-opening .d2l-page-collapsepane-handle {
    background: #424a56;
    border-color: #424a56;
}

.daylight .d2l-page-collapsepane-content {
    background: #373e48;
    border-color: #373e48;
}

.daylight .d2l-page-collapsepane-content-inner {
    background: #373e48;
}

.daylight #ContentNavigator .vui-list > li {
    border: none;
}

.daylight #ContentNavigator .vui-list > li:last-child {
    border: none;
}

.daylight #ContentNavigator .vui-list > .vui-selected {
    background: rgba(255, 255, 255, 0.1);
}

.daylight .d2l-page-collapsepane-handle-link {
    border-left-color: #999;
}

.daylight .d2l-page-collapsepane.d2l-page-collapsepane-opening .d2l-page-collapsepane-handle .d2l-page-collapsepane-handle-link {
    border-right-color: #999;
}

/* modal dialog */
.d2l-shim {
    background: #282d34;
}

.d2l-dialog-inner, .ddial_o2 {
    background: #373e48;
    border: none;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.d2l-dialog-close:hover > span {
    -webkit-filter: grayscale(100%) brightness(500%);
    filter: grayscale(100%) brightness(500%);
}

/* alert */
d2l-alert {
    background: #424a56 !important;
    border: none !important;
}

d2l-alert .message-wrapper {
    border: none !important;
}

d2l-alert .message-highlight {
    background: #09b1b9 !important;
}

/* datalist */
.daylight .d2l-datalist-nesteditem-accordion.d2l-datalist-nesteditem-accordion-open, .daylight .d2l-datalist-nesteditem-accordion.d2l-datalist-nesteditem-accordion-open > .d2l-datalist-item-content.d2l-datalist-item-content-first {
    background: #373e48;
}

.daylight .d2l-datalist > .d2l-datalist-nesteditem-accordion .d2l-datalist > .d2l-datalist-nesteditem-accordion.d2l-le-DataListItem-Selected > .d2l-datalist-item-content.d2l-datalist-item-content-first {
    border: none;
    background: none;
}

.daylight .d2l-datalist-nesteditem-accordion, .daylight .d2l-datalist-nesteditem-accordion > .d2l-datalist-item-content.d2l-datalist-item-content-first {
    border: none;
    background: none;
}

.d2l-datalist-nesteditem-nestedcontainer > div {
    background: none;
}

.daylight .d2l-datalist .d2l-textblock-strong {
    color: #09b1b9;
}

.d2l-datalist-nesteditem-accordion {
    color: #ddd;
}

.d2l-button-nml, .d2l-button-nml.d2l-button-disabled:hover, .d2l-button-nml.d2l-button-disabled:focus {
    background: #424a56;
    border: none !important;
    box-shadow: none;
    border-radius: 0 !important;
    padding: 10px 15px !important;
}

.d2l-button-nml, .d2l-button-nml:visited, .d2l-button-nml:hover, .d2l-button-nml:focus, .d2l-button-nml:link {
    color: #ccc;
}

.d2l-button-nml:hover, .d2l-button-nml:focus {
    border: none;
    background: #09b1b9;
    color: #fff;
    box-shadow: none;
}

div.d2l-filterinline-group-viewswitcher > div > a.d2l-filterinline-item-selected {
    border: none;
    background: #09b1b9;
    color: #fff;
}

.d2l-datalist-summary {
    border: none !important;
    background: #373e48 !important;
}

/* Back to top button*/

.darklight-back-to-top {
    background: rgba(150, 150, 150, 0.2);
}

.darklight-back-to-top:hover {
    background: rgba(150, 150, 150, 0.3);
    -webkit-box-shadow: 0 0 10px rgba(150, 150, 150, 0.2);
    -moz-box-shadow: 0 0 10px rgba(150, 150, 150, 0.2);
    box-shadow: 0 0 10px rgba(150, 150, 150, 0.2);
}

.darklight-back-to-top .arrow {
    border-color: rgba(255, 255, 255, 0.4);
}

/* file link */
.d2l-filelink-link-icon {
    filter: brightness(1.5);
}

.d2l-filelink-link > .d2l-filelink-link-text {
    color: #09b1b9;
}

.d2l-filelink-link:focus > .d2l-filelink-link-text, .d2l-filelink-link:hover > .d2l-filelink-link-text {
    color: #09b1b9;
}

.d2l-filelink-filesize {
    color: #ddd;
}

/* new course thumbs */
d2l-image-tile.d2l-course-image-tile {
    background: none;
}

d2l-image-tile.d2l-course-image-tile .d2l-image-tile-image-area.d2l-image-tile {
    background: none;
}

d2l-image-tile-base.d2l-image-tile .d2l-course-image-tile {
    color: #ddd;
}

/* new course selector */
#courseSelectorId .vui-list > li.vui-active {
    background: #09b1b9;
}

#courseSelectorId .vui-list > li.vui-active a {
    color: #fff;
}