::selection {
    background: var(--d2l-color-celestine);
}

::-moz-selection {
    background: var(--d2l-color-celestine);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #1f242b;
}

::-webkit-scrollbar-thumb {
    background: #323841;
    border: 2px solid #1f242b;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--d2l-color-gypsum);
}

* {
    scrollbar-width: thin;
    scrollbar-color: #323841 #1f242b;
}

:host .d2l-dropdown-content-width,
:host .d2l-dropdown-content-pointer > div.d2l-dropdown-menu {
    background: #373e48 !important;
    border-color: #373e48 !important;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .6) !important;
}

:host d2l-menu-item-separator {
    display: none;
}

:host .d2l-dropdown-content-pointer > div {
    background: #323841;
    border: none;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .6) !important;
}

:host, d2l-menu-item {
    border: none !important;
    background: none;
}

d2l-menu-item:hover, d2l-menu-item:focus {
    background-color: var(--d2l-color-celestine-plus-2);
}