.d2l-floating-buttons-container {
    border-color: var(--darklight-background-color) !important;
    background-color: var(--darklight-background-color) !important;
    box-shadow: none !important;
}