/* calendar */
.darklight-homepage-calendar-empty {
    padding: 10px 0 0 !important;
}

.darklight-homepage-calendar-loading {
    padding: 20px 0 10px;
}

.darklight-homepage-calendar {
    margin-left: -20px;
    margin-right: -20px;
}

.darklight-homepage-calendar-item {
    padding: 20px;
}

/* navbar */
.d2l-navigation-s-logo img {
    max-height: 50px;
}

/* content page panel */
.d2l-page-collapsepane-container {
    padding-top: 45px;
}

.daylight .d2l-page-collapsepane-shadow {
    top: 90px;
}
