/* font size */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    font-size: 100%;
}

#d2l_body, .d2l-body {
    /*background: #f6f7f8;*/
}

.d2l-page-main-padding {
    padding-bottom: 30px;
}

.d2l-page-main .darklight-waterloo {
    position: absolute;
    top: 140px;
    left: 0;
    width: 103px;
    height: 842px;
    z-index: -1;
    background: transparent top left no-repeat;
}

/* widget */

.daylight .d2l-widget {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border: 1px solid #D3D9E3 !important;
}

.daylight-widget-demarcation .d2l-widget {
    margin-top: 20px;
}

.daylight .d2l-widget-header {
    margin: -15px -20px 10px;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #ddd;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f9fafb 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #f9fafb 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f9fafb 100%);
}

.daylight .d2l-widget-header .d2l-heading {
    font-size: 16px !important;
    line-height: 25px !important;
    /*color: #ddd;*/
}

.d2l-widget-header d2l-dropdown button.d2l-button-icon {
    width: 25px !important;
    min-width: 25px !important;
    height: 25px !important;
    min-height: 25px !important;
    margin-top: 1px !important;
    margin-bottom: -1px !important;
    margin-left: 2px !important;
    padding: 0 !important;
}

.d2l-widget-header d2l-dropdown button.d2l-button-icon:hover,
.d2l-widget-header d2l-dropdown button.d2l-button-icon:focus {
    border: 1px solid #666 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.d2l-widget-header d2l-dropdown button.d2l-button-icon:hover,
.d2l-widget-header d2l-dropdown button.d2l-button-icon:focus,
.d2l-widget-header d2l-dropdown button.d2l-button-icon,
.d2l-widget-header d2l-dropdown-header .d2l-button-icon-hover button.d2l-button-icon,
.d2l-widget-header d2l-dropdown .d2l-button-icon-focus button.d2l-button-icon {
    background: none !important;
}

.daylight .d2l-widget-content {
    padding-bottom: 10px;
}

.d2l-htmlblock ol, .d2l-htmlblock ul {
    margin: 0.5em 0;
    padding-left: 1em;
}

.d2l-tile {
    border-radius: 5px;
    /*-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 3px 1px -2px rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.05);*/
    /*-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 3px 1px -2px rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.05);*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 3px 1px -2px rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.05);*/
}

d2l-dropdown-menu .d2l-dropdown-content-top,
d2l-dropdown-menu .d2l-dropdown-content-bottom {
    width: 100%;
}

d2l-dropdown-menu .d2l-dropdown-content-width > div {
    display: block !important;
    float: left !important;
}

d2l-dropdown-menu .d2l-dropdown-content-width > div:after {
    content: "";
    display: table;
    clear: both;
}

/* navbar */
.d2l-navigation-s-header {
    border: none;
}

.d2l-navigation-s-mobile-menu-content {
    border-top: none !important;
}

.d2l-navigation-s-logo-link:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.d2l-navigation-s-logo img {
    max-height: 40px;
}

.d2l-icon-0[icon*="d2l-tier3:"] {
    width: 20px;
    height: 20px;
}

.d2l-navigation-s-band-color, d2l-navigation-band {
    display: none !important;
}

.d2l-navigation-s-main, d2l-navigation-bottom-bar, d2l-navigation-main-footer {
    border: none !important;
    background: rgba(0, 0, 0, 0.8) !important;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

d2l-navigation-main-footer a.d2l-navigation-s-link,
d2l-navigation-main-footera.d2l-navigation-s-link:link,
d2l-navigation-main-footera.d2l-navigation-s-link:visited {
    color: #aaa !important;
}

d2l-navigation-main-footer .d2l-navigation-s-item .d2l-navigation-s-group-text,
d2l-navigation-main-footer .d2l-navigation-s-item .d2l-icon-0 {
    color: #aaa !important;
}

.d2l-navigation-s-no-branding .d2l-navigation-s-main {
    border: none;
}

.d2l-navigation-s-has-branding .d2l-navigation-s-main {
    border: none;
}

d2l-navigation-button .d2l-navigation-button-notification-indicator.d2l-navigation-button-notification-icon {
    top: calc(-50% + 4px) !important;
}

d2l-navigation-button .d2l-navigation-button-notification-indicator-icon.d2l-navigation-button-notification-icon {
    width: 8px !important;
    height: 8px !important;
}

.d2l-navigation-s-main-wrapper {
    height: calc(1rem + 35px);
}

.d2l-navigation-shadow-drop-border.d2l-navigation {
    display: none;
}

.d2l-navigation-s-shadow-gradient, .d2l-navigation-shadow-gradient {
    background: none !important;
}

/* homepage */

.homepage-container .d2l-htmlblock .results {
    padding: 10px 15px !important;
}

.homepage-container .d2l-htmlblock .results .btn {
    margin: 0;
    font-size: 14px;
    line-height: 1.2em;
}

.homepage-container .d2l-htmlblock .results a {
    font-size: 14px !important;
}

@media screen and (min-width: 768px) {

    .homepage-container > div:not(.homepage-row):not(:last-child), .homepage-row > div:not(:last-child), .homepage-row > div > div:not(:last-child) {
        margin-right: 2.15464%
    }

    .homepage-col-1 {
        width: 5.10825%
    }

    .homepage-col-2 {
        width: 13.87113%
    }

    .homepage-col-3 {
        width: 22.63402%
    }

    .homepage-col-4 {
        width: 31.39691%
    }

    .homepage-col-5 {
        width: 40.15979%
    }

    .homepage-col-6 {
        width: 48.92268%
    }

    .homepage-col-7 {
        width: 57.68557%
    }

    .homepage-col-8 {
        width: 66.44845%
    }

    .homepage-col-9 {
        width: 75.21134%
    }

    .homepage-col-10 {
        width: 83.97423%
    }

    .homepage-col-11 {
        width: 92.73711%
    }

    .homepage-col-12 {
        width: 100%
    }
}

/* button */

.d2l-button, .d2l-button * {
    vertical-align: bottom !important;
}

/* course home */
#CourseImageBannerPlaceholderId {
    padding-top: 20px;
    margin-bottom: -10px;
}

#CourseImageBannerPlaceholderId > div.d2l-course-banner-container {
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.08), 0 1px 4px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.08), 0 1px 4px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.08), 0 1px 4px 0 rgba(0, 0, 0, 0.08);
    position: relative;
}

#CourseImageBannerPlaceholderId > div.d2l-course-banner-container:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 25%;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.03) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.03) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.03) 100%);
    z-index: 1;
}

#CourseImageBannerPlaceholderId .d2l-image-banner-course-name.d2l-image-banner-overlay {
    background: none;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.3);
}

#bannerTitle {
    overflow: visible !important;
}

/* course home calendar */
.darklight-course-home-calendar .d2l-widget-content {
    padding: 0 0 10px;
    margin-left: -20px;
    margin-right: -20px;
}

.darklight-course-home-calendar .d2l-collapsepane-header {
    border-left: none;
    border-right: none;
    border-radius: 0 !important;
}

.darklight-course-home-calendar .d2l-collapsepane-content {
    border-left: none;
    border-right: none;
    border-radius: 0 !important;
}

/* course content */

.d2l-twopanelselector-side-bg.d2l-twopanelselector-side-sep, .d2l-twopanelselector-side.d2l-twopanelselector-side-sep {
    background: #f9fafb;
}

.d2l-collapsepane-header {
    padding-bottom: 0.6rem !important;
}

.d2l-collapsepane-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.d2l-collapsepane-content > div.d2l-placeholder.d2l-placeholder-live > div.d2l-placeholder.d2l-placeholder-live > div {
    padding-top: 0;
}

.darklight-fixed-right-button {
    background: #333;
}

/* file link */
.d2l-filelink-link {
    white-space: normal;
}

/* course selector */
.d2l-courseselector-wrapper .d2l-datalist {
    padding-top: 10px !important;
    padding-bottom: 0 !important;
}

.d2l-courseselector-wrapper .d2l-datalist-item {
    border: none;
}

/* homepage calendar */
.darklight-homepage-calendar-widget {
    padding: 0 !important;
    overflow: hidden;
}

.darklight-homepage-calendar-widget .d2l-widget-header {
    margin: 0;
}

.darklight-homepage-calendar-content .tag {
    margin-right: 15px;
}

.darklight-homepage-calendar-item {
    padding: 20px;
}

/* course tile image ani */
d2l-image-tile.d2l-course-image-tile .d2l-image-tile-image-area.d2l-image-tile {
    -webkit-transition: filter .2s ease, -webkit-filter .2s ease, transform .4s ease;
    -moz-transition: filter .2s ease, -webkit-filter .2s ease, transform .4s ease;
    -ms-transition: filter .2s ease, -webkit-filter .2s ease, transform .4s ease;
    -o-transition: filter .2s ease, -webkit-filter .2s ease, transform .4s ease;
    transition: filter .2s ease, -webkit-filter .2s ease, transform .4s ease;
}

d2l-image-tile.d2l-course-image-tile:hover .d2l-image-tile-image-area.d2l-image-tile,
d2l-image-tile.d2l-course-image-tile:focus .d2l-image-tile-image-area.d2l-image-tile {

}

/* new homepage course tabs */
.d2l-home .d2l-tabs-scroll-button.d2l-tabs {
    height: 20px;
}

.d2l-home .d2l-tabs-scroll-button.d2l-tabs:hover, .d2l-home .d2l-tabs-scroll-button.d2l-tabs:focus {
    background: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.d2l-home d2l-tab[aria-selected]:focus .d2l-tab-selected-indicator.d2l-tab {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.d2l-shim {
    background-color: rgba(0, 0, 0, 0.5);
}