/* font size */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    font-size: 100%;
}

.d2l-page-main-padding {
    padding-bottom: 30px;
}

/* widget */

.daylight .d2l-widget {
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.daylight-widget-demarcation .d2l-widget {
    margin-top: 20px;
}

.daylight .d2l-widget-header .d2l-heading {
    font-size: 16px !important;
    line-height: 25px !important;
}

.daylight .d2l-widget-content {
    padding-bottom: 10px;
}

/* navbar */
.d2l-navigation-s-header {
    border: none;
}

.d2l-navigation-s-mobile-menu-content {
    border-top: none !important;
}

.d2l-navigation-s-logo-link:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.d2l-navigation-s-logo img {
    max-height: 40px;
}

.d2l-icon-0[icon*="d2l-tier3:"] {
    width: 20px;
    height: 20px;
}

.d2l-navigation-s-band-color, d2l-navigation-band {
    display: none !important;
}

.d2l-navigation-s-main {
    border: none;
    background: #333333;
}

a.d2l-navigation-s-link, a.d2l-navigation-s-link:link, a.d2l-navigation-s-link:visited {
    color: #aaa;
}

.d2l-navigation-s-item .d2l-navigation-s-group-text,
.d2l-navigation-s-item .d2l-icon-0 {
    color: #aaa !important;
}

/* homepage */

.homepage-container .d2l-htmlblock .results {
    padding: 10px 15px !important;
}

.homepage-container .d2l-htmlblock .results .btn {
    margin: 0;
    font-size: 14px;
    line-height: 1.2em;
}

.homepage-container .d2l-htmlblock .results a {
    font-size: 14px !important;
}

@media screen and (min-width: 768px) {

    .homepage-container > div:not(.homepage-row):not(:last-child), .homepage-row > div:not(:last-child), .homepage-row > div > div:not(:last-child) {
        margin-right: 3.15464%
    }

    .homepage-col-1 {
        width: 4.60825%
    }

    .homepage-col-2 {
        width: 13.37113%
    }

    .homepage-col-3 {
        width: 22.13402%
    }

    .homepage-col-4 {
        width: 30.89691%
    }

    .homepage-col-5 {
        width: 39.65979%
    }

    .homepage-col-6 {
        width: 48.42268%
    }

    .homepage-col-7 {
        width: 57.18557%
    }

    .homepage-col-8 {
        width: 65.94845%
    }

    .homepage-col-9 {
        width: 74.71134%
    }

    .homepage-col-10 {
        width: 83.47423%
    }

    .homepage-col-11 {
        width: 92.23711%
    }

    .homepage-col-12 {
        width: 100%
    }
}

/* button */

.d2l-button, .d2l-button * {
    vertical-align: bottom !important;
}

/* course content */

.d2l-twopanelselector-side-bg.d2l-twopanelselector-side-sep, .d2l-twopanelselector-side.d2l-twopanelselector-side-sep {
    background: #f9fafb;
}

.d2l-collapsepane-header {
    padding-bottom: 0.6rem !important;
}

.d2l-collapsepane-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.d2l-collapsepane-content > div.d2l-placeholder.d2l-placeholder-live > div.d2l-placeholder.d2l-placeholder-live > div {
    padding-top: 0;
}

/* file link */
.d2l-filelink-link {
    white-space: normal;
}

/* course selector */
.d2l-courseselector-wrapper .d2l-datalist {
    padding-top: 10px !important;
    padding-bottom: 0 !important;
}

.d2l-courseselector-wrapper .d2l-datalist-item {
    border: none;
}

/* homepage calendar */
.darklight-homepage-calendar-empty {
    padding: 10px 0 0 !important;
}

.darklight-homepage-calendar-loading {
    padding: 20px 0 10px;
}

.darklight-homepage-calendar-item {
    padding: 20px 0;
    -webkit-transition: padding 0.2s ease, background 0.2s ease;
    -moz-transition: padding 0.2s ease, background 0.2s ease;
    -ms-transition: padding 0.2s ease, background 0.2s ease;
    -o-transition: padding 0.2s ease, background 0.2s ease;
    transition: padding 0.2s ease, background 0.2s ease;
}

.darklight-homepage-calendar-item:hover {
    padding-left: 15px;
}

.darklight-homepage-calendar-content .tag {
    margin-right: 15px;
}

/* course tile image ani */
d2l-image-tile.d2l-course-image-tile .d2l-image-tile-image-area.d2l-image-tile {
    -webkit-transition: filter .2s ease, -webkit-filter .2s ease, transform .4s ease;
    -moz-transition: filter .2s ease, -webkit-filter .2s ease, transform .4s ease;
    -ms-transition: filter .2s ease, -webkit-filter .2s ease, transform .4s ease;
    -o-transition: filter .2s ease, -webkit-filter .2s ease, transform .4s ease;
    transition: filter .2s ease, -webkit-filter .2s ease, transform .4s ease;
}

d2l-image-tile.d2l-course-image-tile:hover .d2l-image-tile-image-area.d2l-image-tile,
d2l-image-tile.d2l-course-image-tile:focus .d2l-image-tile-image-area.d2l-image-tile {

}